@model BEEKP.Models.ManufacturersViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Detail", "Manufacturers", FormMethod.Post, new { @id = "frmManufacturers", @name = "frmManufacturers" }))
{
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="container mt-0 mb-0 pt-10 pb-10">
                        <h4 class="text-theme-colored">View Manufacture/Supplier Details</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="single-service">
                                    <table class="table table-hover table-bordered">
                                        <tr class="odd-bg-color">
                                            <td><strong>EE Equipment : </strong></td>
                                            <td>@Model.Manufacturers.EE_equipment_name</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Name of Manufacturer/Supplier : </strong></td>
                                            <td>@Model.Manufacturers.name_manufacturer</td>
                                        </tr>
                                        <tr class="odd-bg-color">
                                            <td><strong>Contact Address	 : </strong></td>
                                            <td>@Model.Manufacturers.contact_address</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Contact Person : </strong></td>
                                            <td>@Model.Manufacturers.contact_person</td>
                                        </tr>
                                        <tr class="odd-bg-color">
                                            <td><strong>Contact No. : </strong></td>
                                            <td>@Model.Manufacturers.contact_no</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Email Id : </strong></td>
                                            <td>@Model.Manufacturers.email</td>
                                        </tr>
                                        <tr class="odd-bg-color">
                                            <td><strong>Website : </strong></td>
                                            <td>@Model.Manufacturers.website</td>
                                        </tr>
                                    </table>

                                </div>
                                <button type="button" class="btn default pull-right" onclick="location.href='@Url.Action("Index", "MSME", new {})'">Back</button>
                            </div>
                        </div>
                    </div>
            <!-- END PAGE CONTENT INNER -->

        </div>
    </div>
}