@model BEEKP.Areas.Admin.Models.AdminLoanSchemeViewModel


@if (Model.ListLoanSchemeActive != null)
{
    <table id="tblLoanSchemeActive" class="table table-striped table-hover table-bordered">

        <thead>
            <tr>
                <th>
                    Scheme name
                </th>
                <th>
                    Scheme Short Description
                </th>
                <th align="center" valign="middle">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

            @for (Int32 i = 0; i < Model.ListLoanSchemeActive.Count; i++)
            {
                <tr>
                    <td>
                        <label>@Model.ListLoanSchemeActive[i].loan_scheme_name </label>
                    </td>

                    <td>
                        <label>@Model.ListLoanSchemeActive[i].loan_scheme_short_description </label>
                    </td>
                    <td align="center" valign="middle">
                        @if (Model.PagePermission.role_edit == BEEKP.Class.Constants.PAGE_PERMISSION_YES)
                        {
                            <a href="@Url.Action("ManageLoanScheme", "AdminLoanScheme", new { sLoanSchemeID =BEEKP.Class.Encryption.Encrypt(Model.ListLoanSchemeActive[i].loan_scheme_id.ToString(), true)})" title="" class="custom-edit-tooltip"><i class="fa fa-pencil"></i></a>
                        }

                        @if (Model.PagePermission.role_delete == BEEKP.Class.Constants.PAGE_PERMISSION_YES)
                        {
                            @Html.Raw("|");
                            <a href="@Url.Action("DeleteLoanScheme", "AdminLoanScheme", new { sLoanScheme_id = BEEKP.Class.Encryption.Encrypt(Model.ListLoanSchemeActive[i].loan_scheme_id.ToString(), true)})" title="" data-toggle="confirmation" data-original-title="Are you sure ?"><i class="fa fa-trash-o"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
