
@model BEEKP.Areas.Admin.Models.AdminDiscussionForumApprovedViewModel

@if (Model.ListDiscussionForumApproval_Approved != null)
{
    <table id="tblDiscussionForumApprove_Approved" class="table table-striped table-hover table-bordered">

        <thead>
            <tr>
                <th>
                    Cluster Name
                </th>
                <th>
                    Forum Topic
                </th>
                <th>
                    Forum Description
                </th>
                <th>
                    Status
                </th>
                <th>
                    Remarks
                </th>
                <th align="center" valign="middle">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

            @for (Int32 i = 0; i < Model.ListDiscussionForumApproval_Approved.Count; i++)
            {
                <tr>
                    <td>
                        <label>@Model.ListDiscussionForumApproval_Approved[i].cluster_name</label>
                    </td>
                    <td>
                        <label>@Model.ListDiscussionForumApproval_Approved[i].forum_topic </label>
                    </td>
                    <td>
                        <label>@Model.ListDiscussionForumApproval_Approved[i].forum_description </label>
                    </td>
                    @if (@Model.ListDiscussionForumApproval_Approved[i].status == true)
                    {
                        <td>
                            <label>Active </label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label>Inactive </label>
                        </td>
                    }
                    <td>
                        <label>@Model.ListDiscussionForumApproval_Approved[i].remarks </label>
                    </td>
                    <td align="center" valign="middle">
                   
                        @*<a href="@Url.Action("ApproveDiscussionForum", "DiscussionForum", new { sforum_id = Model[i].forum_id.ToString()})" title="" class="custom-edit-tooltip"><i class="fa fa-pencil"></i></a>*@
                        @*<a href="@Url.Action("DeleteDiscussionForum", "DiscussionForum", new { sforum_id = Model[i].forum_id.ToString()})" title="" data-toggle="confirmation" data-original-title="Are you sure ?"><i class="fa fa-trash-o"></i></a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}





