@model BEEKP.Models.GefViewModel
@{
    ViewBag.Title = "GEF";
    Layout = "~/Views/Shared/_LayoutGef.cshtml";
}
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="css/all.css" rel="stylesheet">
<link rel="stylesheet" href="css/elements.css">
<link rel="stylesheet" href="webfonts/fonts/flaticon.css">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix heading-only">
                    <div class="title_breadcrumb">
                        <h3 class="text-white text-center">Promoting Energy Efficiency and Renewable Energy in Selected MSME Clusters in India</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sectors-section gef pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="sector-box2">
                    <div class="mb-30">
                        <div class="tiles-wrap small-wrap">
                            <div class="tile-bg" style="background:url(../images/sectors/brass.jpg);">
                                <div class="project-hover-div">
                                    <div class="content-part small-tab">
                                        <h4 class="title project-flag"><a href="#">Brass</a></h4>
                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and enhanced use of...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-part small-tab">
                                <div class="icon-wrap">
                                    <img src="/images/sectors/brass.png" />
                                </div>
                                <h4 class="title"><a href="#">Brass</a></h4>
                            </div>
                            <div class="btn-part">
                                <a href="@Url.Action("sector_detail", "AboutUs", null, Request.Url.Scheme)" class="read-more">Read More <span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-30">
                        <div class="tiles-wrap small-wrap">
                            <div class="tile-bg" style="background:url(../images/sectors/ceramics.jpg);">
                                <div class="project-hover-div">
                                    <div class="content-part small-tab">
                                        <h4 class="title project-flag" data-project="disha"><a href="#">Ceramics</a></h4>
                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and enhanced use of...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-part small-tab">
                                <div class="icon-wrap">
                                    <img src="/images/sectors/ceramics.png" />
                                </div>
                                <h4 class="title"><a href="#"> Ceramics</a></h4>
                            </div>
                            <div class="btn-part">
                                <a href="@Url.Action("ceramics", "AboutUs", null, Request.Url.Scheme)" class="read-more">Read More <span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-30">
                        <div class="tiles-wrap small-wrap">
                            <div class="tile-bg" style="background:url(../images/sectors/dairy.jpg);">
                                <div class="project-hover-div">
                                    <div class="content-part small-tab">
                                        <h4 class="title project-flag"><a href="#">Dairy</a></h4>
                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and enhanced use of...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-part small-tab">
                                <div class="icon-wrap">
                                    <img src="/images/sectors/dairy.png" />
                                </div>
                                <h4 class="title"><a href="#"> Dairy</a></h4>
                            </div>
                            <div class="btn-part">
                                <a href="@Url.Action("dairy", "AboutUs", null, Request.Url.Scheme)" class="read-more">Read More <span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-30">
                        <div class="tiles-wrap small-wrap">
                            <div class="tile-bg" style="background:url(../images/sectors/foundry.jpg);">
                                <div class="project-hover-div">
                                    <div class="content-part small-tab">
                                        <h4 class="title project-flag"><a href="#">Foundry</a></h4>
                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and enhanced use of...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-part small-tab">
                                <div class="icon-wrap">
                                    <img src="/images/sectors/foundry.png" />
                                </div>
                                <h4 class="title"><a href="#"> Foundry</a></h4>
                            </div>
                            <div class="btn-part">
                                <a href="@Url.Action("foundry", "AboutUs", null, Request.Url.Scheme)" class="read-more">Read More <span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-30">
                        <div class="tiles-wrap small-wrap">
                            <div class="tile-bg" style="background:url(../images/sectors/hand-tools.jpg);">
                                <div class="project-hover-div">
                                    <div class="content-part small-tab">
                                        <h4 class="title project-flag"><a href="#">Hand tools</a></h4>
                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and enhanced use of...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-part small-tab">
                                <div class="icon-wrap">
                                    <img src="/images/sectors/hand-tools.png" />
                                </div>
                                <h4 class="title"><a href="#"> Hand tools</a></h4>
                            </div>
                            <div class="btn-part">
                                <a href="@Url.Action("handtools", "AboutUs", null, Request.Url.Scheme)" class="read-more">Read More <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<section class="gef_sections">
    <div class="container pt-4 pb-4 ">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                    <!-- <div class="sub-title primary">MSME's</div> -->
                    <h2 class="title inner-title mb-20 mb-3 justify-content-center">Project Information </h2>
                </div>
                <div class="project_bg">
                    <div class="project_info">

                        <p class="text-justify text-center">
                            The United Nations Industrial Development Organization (UNIDO), in collaboration with the
                            Bureau of Energy Efficiency (BEE), a statutory body under the Ministry of Power, Government of India, is executing a Global Environment Facility (GEF) funded national project titled 'Promoting energy efficiency and renewable energy in selected MSME clusters in India'.
                        </p>
                        <div class="clearfix"></div>
                        <img src="/images/map.png" style=" width:100%; max-width:750px;" alt="" class="float-none">

                        <ul class="sectorss-list-ul">
                            <li>
                                <a href="#"><img src="/images/markers/brass.png" /> Brass Cluster</a>
                            </li>
                            <li>
                                <a href="#"><img src="/images/markers/ceramics.png" />Ceramics Cluster</a>
                            </li>
                            <li>
                                <a href="#"><img src="/images/markers/dairy.png" /> Dairy Cluster</a>
                            </li>
                            <li>
                                <a href="#"><img src="/images/markers/foundry.png" /> Foundry Cluster</a>
                            </li>
                            <li>
                                <a href="#"><img src="/images/markers/hand-tools.png" /> Hand tools Cluster</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="statics-section mb-5 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                    <!-- <div class="sub-title primary">MSME's</div> -->
                    <h2 class="title inner-title mb-20 mb-3">Project Impacts </h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="rs-carousel nav-style2 owl-carousel mt-0" data-rewind="true" data-loop="false" data-items="3" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="4" data-md-device-nav="false" data-md-device-dots="false">
                    <div class="ct-box">
                        <div class="stat-hov stat-hov3">
                            <div class="counter ">
                                <div class="counter-icon">
                                    <img src="../images/counts/1-3.png" />
                                </div>
                                <div class="count-num">
                                    <span class="counter-value"> 603 </span>  <span class="sm-texts">EE & RE Measures </span>
                                </div>
                                <h3>Implemented</h3>
                            </div>
                        </div>
                    </div>
                    <div class="ct-box">
                        <div class="stat-hov stat-hov4">
                            <div class="counter">
                                <div class="counter-icon">
                                    <img src="../images/counts/1-4.png" />
                                </div>
                                <div class="count-num">
                                    <span class="counter-value"> 10850 </span>
                                    <span class="sm-texts">Energy Savings Achieved</span>
                                </div>
                                <h3>(TOE/Year) </h3>
                            </div>
                        </div>
                    </div>
                    <div class="ct-box">
                        <div class="stat-hov stat-hov5">
                            <div class="counter">
                                <div class="counter-icon">
                                    <img src="../images/counts/1-5.png" />
                                </div>
                                <div class="count-num">
                                    <span class="counter-value">8.61</span>  <span class="sm-texts">Monetary Savings Achieved </span>
                                </div>
                                <h3>(Million US$/Year) </h3>
                            </div>
                        </div>
                    </div>
                    <div class="ct-box">
                        <div class="stat-hov stat-hov7">
                            <div class="counter ">
                                <div class="counter-icon">
                                    <img src="../images/counts/1-7.png" />
                                </div>
                                <div class="count-num">
                                    <span class="counter-value"> 62808 </span>  <span class="sm-texts">Carbon Emissions Avoided </span>
                                </div>
                                <h3>(Tonnes/ Year)</h3>
                            </div>
                        </div>
                    </div>
                    <div class="ct-box">
                        <div class="stat-hov stat-hov2">
                            <div class="counter">
                                <div class="counter-icon">
                                    <img src="../images/counts/1-2.png" />
                                </div>
                                <div class="count-num">
                                    <span class="counter-value">1116</span>  <span class="sm-texts">No. of MSME units </span>
                                </div>
                                <h3>Engaged</h3>
                            </div>
                        </div>
                    </div>

                    <div class="ct-box">
                        <div class="stat-hov stat-hov1">
                            <div class="counter">
                                <div class="counter-icon">
                                    <img src="..//images/counts/1-1.png" />
                                </div>
                                <div class="count-num">
                                    <span class="counter-value">301</span>  <span class="sm-texts">Case Studies </span>
                                </div>
                                <h3>Prepared</h3>
                            </div>
                        </div>
                    </div>

                    <div class="ct-box">
                        <div class="stat-hov stat-hov6">
                            <div class="counter">
                                <div class="counter-icon">
                                    <img src="..//images/counts/1-6.png" />
                                </div>
                                <div class="count-num">
                                    <span class="counter-value">12.19</span>  <span class="sm-texts">
                                        Co-financing on EE & RE

                                        Investments
                                    </span>
                                </div>
                                <h3>(Million US$)</h3>
                            </div>
                        </div>
                    </div>

                    <div class="ct-box">
                        <div class="stat-hov stat-hov8">
                            <div class="counter">
                                <div class="counter-icon">
                                    <img src="../images/counts/1-8.png" />
                                </div>
                                <div class="count-num">
                                    <span class="counter-value"> 0.65 </span>
                                    <span class="sm-texts">Cumulative Carbon Emissions Will be Avoided in 15 years </span>
                                </div>
                                <h3>(Million Tonnes)</h3>
                            </div>
                        </div>
                    </div>













                </div>
            </div>





        </div>

    </div>
</div>

<!-------------- data counter  ------------------------>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
               
                <!-- Tab panes -->
                <div class="tab-content tabs mb-5 p-0">
                    
                    <div role="tabpanel" class="p-4 tab-pane fade show active" id="t2">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="title inner-title title_center text-center">
                                    <h1 class="mb-3">Project Activities</h1>
                                </div>
                            </div>
                        </div>
                        <div class="activities-div">
                        	<div class="row">
                                <div class="col-md-3">
                                    <div class="initiative-box" style="background:url(../images/activity/1.jpg);">
                                        <div class="main-content">
                                            <h3>Energy Audits</h3>
                                        </div>
                                        <div class="hover-div">
                                           <h3>Energy Audits</h3>
                                           <p>Cluster leaders and consultants visits to the industries on a regular basis and promote adoption of these best operating practice and help industries not only saving energy but also improving productivity, quality and resource conservation ......</p>
                                            <div class="btn-part">
                                                <a href="../EnergyAudits" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            					<div class="col-md-3">
                                    <div class="initiative-box" style="background:url(../images/activity/2.jpg);">
                                        <div class="main-content">
                                            <h3>EMC and its Activities</h3>
                                        </div>
                                        <div class="hover-div">
                                           <h3>EMC and its Activities</h3>
                                           <p>The Bureau of Energy Efficiency (BEE), a statutory body under the Ministry of Power, Government of India in collaboration with United Nations Industrial Development Organization (UNIDO) is executing a Global Environment Facility (GEF) .....</p>
                                            <div class="btn-part">
                                                <a href="../emc" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="initiative-box" style="background:url(../images/activity/3.jpg);">
                                        <div class="main-content">
                                            <h3>Capacity Building Training programs</h3>
                                        </div>
                                        <div class="hover-div">
                                           <h3>Capacity Building Training programs</h3>
                                           <p>Project has initiated the mapping of existing service providers in each cluster and identified many new technology providers. Organized 45 capacity building training and trained about 500 local service providers on various aspects on,.....</p>
                                            <div class="btn-part">
                                                <a href="../CapacityBuilding" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="initiative-box" style="background:url(../images/activity/4.jpg);">
                                        <div class="main-content">
                                            <h3>In- House Training programs</h3>
                                        </div>
                                        <div class="hover-div">
                                           <h3>In- House Training programs</h3>
                                           <p>Organized 12 cluster-specific 3-days residential capacity building training workshops at Ambedkar Institute of Productivity-National Productivity Council, Chennai. Trained more than 230 cluster level enterprise representatives on "Best Operating ......</p>
                                            <div class="btn-part">
                                                <a href="../inhouse" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="initiative-box" style="background:url(../images/activity/5.jpg);">
                                        <div class="main-content">
                                            <h3>International Study tours/ Inter cluster visits</h3>
                                        </div>
                                        <div class="hover-div">
                                           <h3>International Study tours/ Inter cluster visits</h3>
                                           <p>Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat......</p>
                                            <div class="btn-part">
                                                <a href="../InterCluster" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="initiative-box" style="background:url(../images/activity/6.jpg);">
                                        <div class="main-content">
                                            <h3>Pilot Projects</h3>
                                        </div>
                                        <div class="hover-div">
                                           <h3>Pilot Projects</h3>
                                           <p>Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat......</p>
                                            <div class="btn-part">
                                                <a href="../pilotproject" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="initiative-box" style="background:url(../images/activities/7.jpg);">
                                        <div class="main-content">
                                            <h3>Knowledge Dissemination Materials</h3>
                                        </div>
                                        <div class="hover-div">
                                           <h3>Knowledge Dissemination Materials</h3>
                                           <p>The project has developed substantial knowledge materials in terms of case studies, success stories, best-operating practices, training manuals, vendor database etc. All these knowledge repositories are made readily available in the industrial association websites. Industries can access this information easily any time......</p>
                                            <div class="btn-part">
                                                <a href="../KnowledgeMaterials" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="initiative-box" style="background:url(../images/activities/8.jpg);">
                                        <div class="main-content">
                                            <h3>Upscaling Activities</h3>
                                        </div>
                                        <div class="hover-div">
                                           <h3>Upscaling Activities</h3>
                                           <p>The project has developed substantial knowledge materials in terms of case studies, success stories, best-operating practices, training manuals, vendor database etc. All these knowledge repositories are made readily available ......</p>
                                            <div class="btn-part">
                                                <a href="../Upscaling" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
            				</div>
                        
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>




<div class="">


    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row d-flex align-items-center mb-20">
                    <div class="col-12">
                        <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                            <!-- <div class="sub-title primary">Latest  </div> -->
                            <h2 class="title inner-title mb-0"> Videos</h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="rs-slider sdg-slider">
                            <div class="rs-carousel nav-style2 owl-carousel" data-rewind="true" data-loop="false" data-items="3" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">
                                <div class="res-box">
                                    <iframe width="100%" height="266" src="https://www.youtube.com/embed/0V9_tbbMADE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="res-box">
                                    <iframe width="100%" height="266" src="https://www.youtube.com/embed/L3LqBl8_mq8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="res-box">
                                    <iframe width="100%" height="266" src="https://www.youtube.com/embed/0V9_tbbMADE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="res-box">
                                    <iframe width="100%" height="266" src="https://www.youtube.com/embed/0V9_tbbMADE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="text-right">
                            <a href="#" class="readon main-home">View All</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!--Newsletter Start-->
<div class="newsletter-wrap wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

            </div>

        </div>
    </div>
</div>
<!--Newsletter End-->
<!--Newsletter End-->

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="../js/all.js"></script>
<script src="../js/script.js"></script>
<script>
    //********************************* tab scroll */

    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    const tabs = $$(".tab-item");
    const panes = $$(".tab-pane");

    const tabActive = $(".tab-item.active");
    const line = $(".tabs .line");

    line.style.left = tabActive.offsetLeft + "px";
    line.style.width = tabActive.offsetWidth + "px";

    tabs.forEach((tab, index) => {
        const pane = panes[index];

        tab.onclick = function () {
            $(".tab-item.active").classList.remove("active");
            $(".tab-pane.active").classList.remove("active");

            line.style.left = this.offsetLeft + "px";
            line.style.width = this.offsetWidth + "px";

            this.classList.add("active");
            pane.classList.add("active");
        };
    });


</script>

<script>

    $("#nav li a").on("click", function (e) {
        //allow links to be followed if they don't have a sub-menu
        if (!$(this).parent().has("ul").length) {
            return;
        }

        //we have a sub-menu, so stop the link from being followed
        e.preventDefault();

        if (!$(this).hasClass("open")) {
            //we need to know which 'level' we're on
            var currentLevel = $(this).closest('ul');
            $("li ul", currentLevel).slideUp(350);
            $("li a", currentLevel).removeClass("open");

            // open our new menu and add the open class
            $(this).next("ul").slideDown(350);
            $(this).addClass("open");
        } else {
            $(this).removeClass("open");
            $(this).next("ul").slideUp(350);
        }
    });
</script>