@model BEEKP.Areas.Admin.Models.PhotoManageModel
@{
    ViewBag.Title = "ManagePhoto";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ManagePhoto", "Gallery", FormMethod.Post, new { @id = "frmManagePhoto", @name = "frmManagePhoto", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Photo.photo_id)

    @Html.HiddenFor(model => Model.PagePermission.role_view)
    @Html.HiddenFor(model => Model.PagePermission.role_add)
    @Html.HiddenFor(model => Model.PagePermission.role_edit)
    @Html.HiddenFor(model => Model.PagePermission.role_delete)


    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>@Model.PagePermission.file_name</h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Manage Photo</span> <small class="small-font-cuatom">Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="horizontal-form ">
                                <div class="form-body form-body-small-padding">
                                    @*<h3 class="form-section page-title mandatory-note">&nbsp <small>Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small></h3>*@

                                    <!--body start-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Image<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-default btn-file">
                                                                Browse&hellip;
                                                                @Html.TextBoxFor(m => m.Photo.photo_name, new { type = "file", Name = "file", placeholder = Html.DisplayNameFor(m => m.Photo.photo_name), @id = "filePhoto", @class = "form-control" })
                                                                @Html.HiddenFor(m => m.Photo.photo_name)
                                                            </span>
                                                        </span>
                                                        <input type="text" class="form-control" value="@Model.Photo.photo_name" readonly>
                                                    </div>
                                                    @*@Html.ValidationMessageFor(model => model.Photo.photo_name, "", new { @class = "text-denger" })*@
                                                    <br />
                                                    @if (Model.Photo.photo_name != null && Model.Photo.photo_name != "")
                                                    {
                                                        <img src="~/images/Gallery/Photo/@Model.Photo.photo_name" alt="Photo" id="imgphoto" width="100px">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/images/NoImage.png" alt="Image" id="imgphoto" width="100px">
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Photo Title<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Photo.photo_title, new { @class = "form-control required", @id = "photo_title", @Placeholder = "Photo Title" })
                                                    @Html.ValidationMessageFor(model => model.Photo.photo_title, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-md-4">Active</label>
                                                    <div class="col-md-8">
                                                        @Html.CheckBoxFor(model => model.Photo.status, new { @class = "icheck", @id = "status", @Placeholder = "Status" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-md-4">Display in Dashboard</label>
                                                    <div class="col-md-8">
                                                        @Html.CheckBoxFor(model => model.Photo.display_dashboard, new { @class = "icheck", @id = "display_dashboard" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--Footer-->
                                <div class="form-actions right">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" class="btn default" onclick="location.href='@Url.Action("Photo", "Gallery", new {})'">Back</button>
                                            <button type="submit" class="btn blue blue-custom" name="btnAction"><i class="fa fa-check"></i>Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- BEGIN VALIDATION STATES-->



}
@Scripts.Render("~/bundles/area/js/global")
@Scripts.Render("~/bundles/area/js/validate")
@Scripts.Render("~/bundles/area/appjs/photo_manage")