<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/elements.css">
    <link rel="stylesheet" href="~/webfonts/fonts/flaticon.css">
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <title>Promoting Energy Efficiency and Renewable Energy in Selected MSME Clusters in India | Home</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <style type="text/css">
.header_logo img{
	max-width: 270px!important;
	max-height: 90px !important;
}
    </style>
</head>

<body class="gef4">
    <!--Topbar Start-->
    <div class="topbar-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-5">
                </div>
                <div class="col-lg-6 col-md-8 col-7">
                    <div class="top_right">
                        <ul class="social_media style_none">
                            <li><a href="https://www.facebook.com/beeindiadigital/" class="fb" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/beeindiadigital" class="tw" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/109460193888443102625/posts" class="ln" target="_blank"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCgZ3hVD1_fIF2rwotvXDgqQ" class="yt" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-wrap wow fadeInUp">
        <div class="container">
            <div class="row pt-2 pb-2">
                <div class="col-lg-4  col-sm-4 col-12">
                    <div class="header_logo"><a href="@Url.Action("GEF_UNIDO","ProjectComponent", null, Request.Url.Scheme)"><img alt="" src="~/images/logo_img/unido.png" height="80px" style="" class="main-logo"></a></div>
                </div>
                <div class="col-lg-4 col-sm-4 col-4" style="text-align:center">
                    <div class="header_logo"><a href="@Url.Action("GEF", "AboutUs", null, Request.Url.Scheme)"><img alt="" src="~/images/logo_img/gef.png" height="80px"></a></div>
                </div>
                <div class="col-lg-4 col-sm-4 col-4">
                    <div class="header_logo text-right">
                        <a href="@Url.Action("GEF", "AboutUs", null, Request.Url.Scheme)"><img alt="" src="~/images/logo_img/bee1.png" height="80px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid navbar-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-0 .d-lg-none .d-xl-block navbar navbar-expand-lg navbar-light mb-5">
                    <!-- <div class="header_logo"><a href="#"><img alt="" src="images/logo.png"></a></div> -->
                </div>
                <div class="col-lg-12 navbar navbar-expand-lg navbar-light d-flex">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <button class="close-toggler" type="button" data-toggle="offcanvas"> <span><i class="fas fa-times-circle" aria-hidden="true"></i></span> </button>
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active"><a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)" class="nav-link">Home</a></li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">The Project <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                                    <ul class="submenu">
                                        <li><a href="/aboutus">About US</a></li>
                                        <li><a href="/aboutgef">About GEF</a></li>
                                        <li><a href="/aboutbee">About BEE</a></li>
                                        <li><a href="/aboutunido">About UNIDO</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="../activities" class="nav-link"> Activities</a></li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Resources <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                                    <ul class="submenu">
                                        <li><a href="/AboutUs/participatingmsme">Participating MSMEs</a></li>
                                        <li><a href="/AboutUs/manufacturersandsuppliers">Manufacturers and Suppliers</a></li>
                                        <li><a href="/AboutUs/energyexperts">Energy Experts</a></li>
                                        <li><a href="/AboutUs/banksandfinancialinstitutions">Banks and Financial Institutions</a></li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                Financing Schemes <span class="caret"><i class="fas fa-caret-right"></i></span>
                                            </a>
                                            <i class="fas fa-caret-right"></i>
                                            <ul class="submenu_right">
                                                <li><a href="/AboutUs/loanscheme">Loan Schemes</a></li>
                                                <li><a href="/AboutUs/subsidyscheme">Subsidy Schemes</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="/KnowledgeLibrary" class="nav-link">Knowledge Library</a></li>
                            </ul>
                        </div>
                    </nav>                
    <!--<nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <button class="close-toggler" type="button" data-toggle="offcanvas"> <span><i class="fas fa-times-circle" aria-hidden="true"></i></span> </button>
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active"><a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)" class="nav-link">Home</a></li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">About Us <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                                    <ul class="submenu">
                                        <li><a href="@Url.Action("AboutProject","AboutUs", null, Request.Url.Scheme)">About SIDHIEE</a></li>
                                        <li><a href="#">Ministry of Power</a></li>
                                        <li><a href="@Url.Action("GEF","AboutUs", null, Request.Url.Scheme)">About the GEF</a></li>
                                        <li><a href="@Url.Action("Partner_Agencies","AboutUs", null, Request.Url.Scheme)">Partner Agencies</a></li>
                                        <li><a href="@Url.Action("Bee","AboutUs", null, Request.Url.Scheme)">BEE</a></li>
                                        <li><a href="#">DC MSME</a></li>
                                        <li><a href="@Url.Action("Key_People","AboutUs", null, Request.Url.Scheme)">Key People</a></li>-->
                                        @*<li><a href="@Url.Action("Indexs","Home", null, Request.Url.Scheme)">Map</a></li>*@
                                    <!--</ul>
                                </li>-->
                                @*<li class="nav-item"><a href="@Url.Action("TrainingManual", "Library", null, Request.Url.Scheme)" class="nav-link"> Programmes</a></li>
        <li class="nav-item"><a href="@Url.Action("Index", "HomeGallery", null, Request.Url.Scheme)" class="nav-link">Project Gallery</a></li>*@
                                <!--<li class="nav-item">
                                    <a href="#" class="nav-link">Programmes <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                                    <ul class="submenu">
                                        <li><a href="#">BEE-SME Programme</a></li>
                                        <li><a href="#">Brick Mission</a></li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                GEF Supported Programmes <span class="caret"><i class="fas fa-caret-right"></i></span>
                                            </a>
                                            <i class="fas fa-caret-right"></i>

                                            <ul class="submenu_right">
                                                <li><a href="#">GEF-WorldBank</a></li>
                                                <li><a href="#">GEF-UNIDO</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Japan-India Energy Dialogue</a></li>
                                        <li><a href="#">Indo-German Energy Programme (IGEN)</a></li>
                                        <li><a href="#">BEE 2021-26</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Resources/Digital Library <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                                    <ul class="submenu">
                                        <li><a href="#">Reports</a></li>
                                        <li><a href="@Url.Action("Index", "ClusterDetails", null, Request.Url.Scheme)">Cluster Profile</a></li>
                                        <li class="nav-item"><a href="@Url.Action("Digital", "Library", null, Request.Url.Scheme)" class="nav-link">Digital Library</a></li>
                                        <li><a href="#">Tools</a></li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                Stakeholders <span class="caret"><i class="fas fa-caret-right"></i></span>
                                            </a>
                                            <ul class="submenu_right">
                                                <li><a href="@Url.Action("Index", "MSME", null, Request.Url.Scheme)">Participating MSMEs</a></li>
                                                <li><a href="@Url.Action("Index", "Manufacturers", null, Request.Url.Scheme)">Manufacturer and supplier</a></li>
                                                <li><a href="@Url.Action("Index", "BankFinancial", null, Request.Url.Scheme)">Bank & Financial institutions</a></li>
                                                <li><a href="#">Energy Management Centres</a></li>
                                                <li><a href="#">State Designatted Agencies (SDA)</a></li>
                                                <li><a href="#">Industrial Associations</a></li>
                                                <li><a href="@Url.Action("Index", "EnergyProfessional", null, Request.Url.Scheme)">Energy Expert</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">SAMEEEKSHA</a></li>
                                        <li><a href="#">Financing Scheme</a></li>
                                        <li><a href="@Url.Action("Index", "VideoGallery", null, Request.Url.Scheme)">Videos</a></li>
                                        <li><a href="@Url.Action("Index", "HomeGallery", null, Request.Url.Scheme)">Photos/Gallery</a></li>
                                        <li class="nav-item"><a href="@Url.Action("Index", "FAQ", null, Request.Url.Scheme)" class="nav-link">FAQs</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="@Url.Action("NewsLetter", "Library", null, Request.Url.Scheme)" class="nav-link"> News Media</a></li>
                                <li class="nav-item"><a href="@Url.Action("ContactUs", "Support", null, Request.Url.Scheme)" class="nav-link">Contact Us</a></li>
                                <li class="nav-item"><a href="@Url.Action("TrainingManual", "Library", null, Request.Url.Scheme)" class="nav-link">Announcement</a></li>
                            </ul>
                        </div>
                    </nav>-->
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>


    <!--Footer Start-->

    <footer class="footer bg-style wow fadeInUp">
        <div class="container">
            <div class="footer-upper">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="footer-widget quick-links">
                            <h3 class="title">Quick links</h3>
                            <ul>
                                <li><a href="@Url.Action("Index", "ClusterDetails", null, Request.Url.Scheme)">Cluster Profile</a></li>
                                <li><a href="@Url.Action("Index", "MSME", null, Request.Url.Scheme)">Participating MSMEs</a></li>
                                <li><a href="@Url.Action("Index", "Manufacturers", null, Request.Url.Scheme)">Manufacturers and Suppliers</a></li>
                                <li><a href="@Url.Action("Index", "EnergyProfessional", null, Request.Url.Scheme)">Energy Experts</a></li>
                                <li><a href="@Url.Action("Index", "BankFinancial", null, Request.Url.Scheme)">Banks and Financial Institutions</a></li>
                                <li><a href="@Url.Action("BankLoan", "FinancingScheme", null, Request.Url.Scheme)">Loan Schemes</a></li>
                                <li><a href="@Url.Action("GovernmentSubsidy", "FinancingScheme", null, Request.Url.Scheme)">Subsidy Schemes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="footer-widget">
                            <h3 class="title">Contact Info </h3>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="footer-widget contact">
                                        <img alt="" src="~/images/logo_img/unido.png" height="70px" class="mb-3">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul class="footer-adress">
                                                    <li class="footer_address"> <i class="fas fa-map-signs mr-2"></i> <span> <a>Vienna International Centre<br /> P.O Box 300-1400, Vienna – Austria </a></span> </li>
                                                    <li class="footer_email"> <i class="fas fa-envelope" aria-hidden="true"></i> <span>ENE@undio.org </span> </li>
                                                    <li class="footer_email"> <i class="fas fa-phone-alt"></i> <span><a href="tel:(+43-1) 260260-0">(+43-1) 260260-0</a></span> </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="footer-adress">
                                                    <li class="footer_address"> <i class="fas fa-map-signs mr-2"></i> <span> <a>UNIDO<br /> Regional office in India<br /> UN House 55- LODI Estate, New Delhi-110003, India </a></span> </li>
                                                    <li class="footer_email"> <i class="fas fa-envelope" aria-hidden="true"></i> <span>office.india@unido.org</span> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-widget contact">
                                        <img alt="" src="~/images/logo_img/bee1.png" height="70px" class="mb-3">
                                        <ul class="footer-adress">
                                            <li class="footer_address"> <i class="fas fa-map-signs mr-2"></i> <span> <a>Government of India, Ministry of Power, 4th Floor, SEWA Bhawan, R. K.Puram, New Delhi - 110 066</a></span> </li>
                                            <li class="footer_email"> <i class="fas fa-envelope" aria-hidden="true"></i> <span> gubpmu@beenet.in</span> </li>
                                            <li class="footer_email"> <i class="fas fa-phone-alt"></i> <span><a href="tel:01126179699-0">01126179699-0</a></span> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright © 2021 Promoting Energy Efficiency and Renewable Energy in Selected MSME Clusters in India. All rights reserved</div>
    </footer>

    <!--Footer End-->
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/script.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    

</body>

</html>