@model BEEKP.Models.FinancingSchemeViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-10">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-theme-colored">@Model.FinancingScheme.financing_scheme_name</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    @if (Model.FinancingScheme.financing_scheme_details != null && Model.FinancingScheme.financing_scheme_details != "")
                    {
                        @Html.Raw(Model.FinancingScheme.financing_scheme_details)
                    }
                    else
                    {
                        <center><h2>No Details Found</h2></center>
                    }
                </div>
            </div>
            <div class="form-group">
                <label>&nbsp;</label><br />
                @if (Model.Viewtype == BEEKP.Class.Constants.ALL_TYPE)
                {
                    <button type="button" onclick="location.href='@Url.Action("Index", "FinancingScheme", new {})'" class="btn btn-primary">Back</button>
                }
                @if (Model.Viewtype == BEEKP.Class.Constants.BANK_LOAN)
                {
                    <button type="button" onclick="location.href='@Url.Action("BankLoan", "FinancingScheme", new {})'" class="btn btn-primary">Back</button>
                }
                @if (Model.Viewtype == BEEKP.Class.Constants.SUBSIDY)
                {
                    <button type="button" onclick="location.href='@Url.Action("GovernmentSubsidy", "FinancingScheme", new {})'" class="btn btn-primary">Back</button>
                }
            </div>
        </div>
    </div>
</div>








@*@if (Model.FinancingScheme.financing_scheme_details != null && Model.FinancingScheme.financing_scheme_details != "")
                {
        @Html.Raw(Model.FinancingScheme.financing_scheme_details)
    }
    else
    {
        <h6>No Details Found</h6>
    }*@
