
@model BEEKP.Areas.Admin.Models.AdminBankFinancialViewModel

@if (Model.ListBankFinancialInactive != null)
{
    <table id="tblBankFinancialInactive" class="table table-striped table-hover table-bordered">

        <thead>
            <tr>
                <th>
                    Type of Institutions
                </th>
                <th>
                    Organisation Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Fax
                </th>
                <th>
                    Telephone
                </th>
                <th>
                    Email-Id
                </th>
                <th>
                    Cluster Name
                </th>
                <th>
                    Approval Status
                </th>
                <th align="center" valign="middle">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

            @for (Int32 i = 0; i < Model.ListBankFinancialInactive.Count; i++)
            {
                <tr>
                    <td>
                        <label>@Model.ListBankFinancialInactive[i].institution_type_name</label>
                    </td>
                    <td>
                        <label>@Model.ListBankFinancialInactive[i].organization_name </label>
                    </td>
                    <td>
                        <label>@Model.ListBankFinancialInactive[i].address </label>
                    </td>
                    <td>
                        <label>@Model.ListBankFinancialInactive[i].fax </label>
                    </td>
                    <td>
                        <label>@Model.ListBankFinancialInactive[i].telephone </label>
                    </td>
                    <td>
                        <label>@Model.ListBankFinancialInactive[i].email_id </label>
                    </td>
                    <td>
                        <label>@Model.ListBankFinancialInactive[i].cluster_name </label>
                    </td>
                    <td>
                        <label>@Model.ListBankFinancialInactive[i].approval_status_message </label>
                    </td>
                    <td align="center" valign="middle">
                       @if (Model.PagePermission.role_edit == BEEKP.Class.Constants.PAGE_PERMISSION_YES)
                       {
                        <a href="@Url.Action("ManageBankFinancial", "AdminBankFinancial", new { sbank_financial_id = BEEKP.Class.Encryption.Encrypt(Model.ListBankFinancialInactive[i].bank_financial_id.ToString(), true) })" title="" class="custom-edit-tooltip"><i class="fa fa-pencil"></i></a>
                       }
                       
                       @if (Model.PagePermission.role_delete == BEEKP.Class.Constants.PAGE_PERMISSION_YES)
                       {
                           <a href="@Url.Action("DeleteBankFinancial", "AdminBankFinancial", new { sbank_financial_id = BEEKP.Class.Encryption.Encrypt(Model.ListBankFinancialInactive[i].bank_financial_id.ToString(), true) })" title="" data-toggle="confirmation" data-original-title="Are you sure ?"><i class="fa fa-trash-o"></i></a>
                       }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
