@model BEEKP.Areas.Admin.Models.NewsletterManageModel
@{
    ViewBag.Title = "ManageNewsLetter";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ManageNewsLetter", "NewsLetter", FormMethod.Post, new { @id = "frmManageNewsLetter", @name = "frmManageNewsLetter" }))
{
    @Html.AntiForgeryToken()
   

    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                @*<h1>@Model.PagePermission.file_name</h1>*@
            </div>
            <!-- END PAGE TITLE -->

        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Manage City</span> <small class="small-font-cuatom">Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="horizontal-form ">
                                <div class="form-body form-body-small-padding">
                                    @*<h3 class="form-section page-title mandatory-note">&nbsp <small>Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small></h3>*@
                                    <div class="portlet-body">
                                      
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-md-4">To<span class="required">* </span></label>
                                                    <div class="col-md-8">
                                                        @Html.Partial("_SubscriberPartial", Model)
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-md-4">CC<span class="required">* </span></label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.NewsLetterMail.mail_cc, new { @class = "form-control required", @id = "city_name", @Placeholder = "CC" })
                                                        @Html.ValidationMessageFor(model => model.NewsLetterMail.mail_cc, "", new { @class = "text-denger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-md-4">BCC<span class="required">* </span></label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.NewsLetterMail.mail_vcc, new { @class = "form-control required", @id = "city_name", @Placeholder = "BCC" })
                                                        @Html.ValidationMessageFor(model => model.NewsLetterMail.mail_vcc, "", new { @class = "text-denger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group clearfix">
                                                    <label class="control-label col-md-4">Body<span class="required">* </span></label>
                                                    <div class="col-md-8">
                                                        @Html.TextAreaFor(model => model.NewsLetterMail.body, new { @class = "ckeditor form-control", @id = "ckEvent", @rows = 3, @cols = 22 })
                                                        @Html.ValidationMessageFor(model => model.NewsLetterMail.body, "", new { @class = "text-denger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                    </div>
                                    <!--body start-->
                                  
                                </div>
                                <!--Footer-->
                                <div class="form-actions right">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" class="btn default" onclick="location.href='@Url.Action("Index", "NewsLetter", new {})'">Back</button>
                                            <button type="submit" class="btn blue blue-custom" name="btnAction"><i class="fa fa-check"></i>Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- BEGIN VALIDATION STATES-->



}
<script type="text/javascript" src="~/assets/global/plugins/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('ckEvent', {
        // Define the toolbar groups as it is a more accessible solution.
        toolbarGroups: [
            { "name": "basicstyles", "groups": ["basicstyles"] },
            //{ "name": "links", "groups": ["links"] },
            { "name": "paragraph", "groups": ["list", "blocks"] },
           // { "name": "document", "groups": ["mode"] },
            //{ "name": "insert", "groups": ["insert"] },
            //{ "name": "styles", "groups": ["styles"] }
           // { "name": "about", "groups": ["about"] }
        ],
        // Remove the redundant buttons from toolbar groups defined above.
        removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
    });
</script>