@model BEEKP.Areas.Admin.Models.DigitalLibrary

@{
    ViewBag.Title = "NewsAddEdit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

@using (Html.BeginForm("DigitalLibraryAddEdit", "AdminDigitalLibrary", FormMethod.Post, new { @id = "frmDigitalLibraryAddEdit", @name = "frmDigitalLibraryAddEdit", enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)
    @Html.HiddenFor(model => Model.PagePermission.file_name)
    @Html.HiddenFor(model => Model.PagePermission.role_view)
    @Html.HiddenFor(model => Model.PagePermission.role_add)
    @Html.HiddenFor(model => Model.PagePermission.role_edit)
    @Html.HiddenFor(model => Model.PagePermission.role_delete)

    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>@Model.PagePermission.file_name</h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Digital Libaray</span> <small class="small-font-cuatom">Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="horizontal-form ">
                                <div class="form-body form-body-small-padding">
                                    @*<h3 class="form-section page-title mandatory-note">&nbsp <small>Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small></h3>*@

                                    <!--body start-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">File Title<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control required", @id = "newsTitle", @Placeholder = "Library Title" })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Created Date<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    <div class="input-group date" data-link-field="hfNewsDate" id="divNewsDate">
                                                        @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control required", @id = "txtnews_date", @readonly = "readonly", @Placeholder = "News Date" })
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        @Html.HiddenFor(model => model.CreatedDate, new { @id = "hfNewsDate" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Sector Name<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.SectorId, Model.Sectors, "Select Sector", new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.SectorId, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Cluster Name<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.ClusterId, Model.Clusters, "Select Cluster", new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.ClusterId, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">File Type<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.FileType, new List<SelectListItem>
                                                        {
                                                            new SelectListItem{ Text="Video", Value = "Video" },
                                                            new SelectListItem{ Text="Image", Value = "Image" },
                                                            new SelectListItem{ Text="Others", Value = "Others" },
                                                         }, "Select Type", new { @class = "form-control required" })
                                                    @Html.ValidationMessageFor(model => model.FileType, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Is Active</label>
                                                <div class="col-md-8">
                                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "icheck", @id = "status", @Placeholder = "Status" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Upload File <span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-default btn-file">
                                                                Browse&hellip;
                                                                @Html.TextBoxFor(m => m.FileUrl, new { type = "file", Name = "FileUrl", @id = "FileUrl", @class = "form-control", accept = ".mp4,.png,.jpg,.jpeg,.tiff,.bmp,pdf" })
                                                                @Html.HiddenFor(m => m.FileUrl)
                                                            </span>
                                                        </span>
                                                        <input type="text" class="form-control" value="@Model.FileUrl" readonly>
                                                    </div>
                                                    <span class="help-block">Max file size 20MB (.mp4,.png,.jpg,.jpeg,.tiff,.bmp,pdf) </span>
                                                    <span id="spnDocumentUpload" style="color:red" class="file-error-message"></span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Doument Page Image</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-default btn-file">
                                                                Browse&hellip;
                                                                @Html.TextBoxFor(m => m.ImageUrl, new { type = "file", Name = "ImageUrl", @id = "ImageUrl", @class = "form-control", accept = ".png,.jpg,.jpeg,.tiff,.bmp" })
                                                                @Html.HiddenFor(m => m.ImageUrl)
                                                            </span>
                                                        </span>
                                                        <input type="text" class="form-control" value="@Model.ImageUrl" readonly>
                                                    </div>
                                                    <span class="help-block">Max file size 2MB (.png,.jpg,.jpeg,.tiff,.bmp) </span>
                                                    <span id="spnDocumentUpload" style="color:red" class="file-error-message"></span>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <!--Footer-->
                                <div class="form-actions right">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" class="btn default" onclick="location.href='@Url.Action("Index", "AdminDigitalLibrary", new { })'">Back</button>
                                            <button type="submit" class="btn blue blue-custom" name="btnAction"><i class="fa fa-check"></i>Save</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- BEGIN VALIDATION STATES-->

}



@Scripts.Render("~/bundles/area/js/global")
@Scripts.Render("~/bundles/area/js/validate")
@Scripts.Render("~/bundles/area/js/datetimepicker")
@Scripts.Render("~/bundles/area/appjs/news_addedit")
@Scripts.Render("~/bundles/area/js/datatables")


<script type="text/javascript" src="~/assets/global/plugins/ckeditor/ckeditor.js"></script>
<script>
    $("#SectorId").change(function () {
        var ddlSector = $("#SectorId").val();
        $("#ClusterId").empty();
        $("#ClusterId").append($("<option></option>").val("").html("--Select Cluster--"));

        $.ajax({
            type: "GET",
            url: "/Library/PopulateClusters?Id=" + ddlSector,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger
                $.each(response, function (data, value) {

                    $("#ClusterId").append($("<option></option>").val(value.Value).html(value.Text));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>


