@model BEEKP.Models.FinancialSchemeBankLoanModel
@{
    ViewBag.Title = "Bank Loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*-------------Datatable CSS------------------*@
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" />

@*-------------Datatable JS------------------*@

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>



<div class="container pt-10">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">

                <div id="divmanufacturers" class="datatable-field-height">
                    <h4 class="text-theme-colored">Loan Schemes</h4>
                    <hr />
                    @*<table id="tblBankLoan" class="table table-striped table-hover table-bordered table-small-padding table-Valign-middle">

                            <thead>
                                <tr>
                                    <th>
                                        Sl. No.
                                    </th>
                                    <th>
                                        Scheme Name
                                    </th>
                                    <th>
                                        Detail
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (Int32 j = 0; j < Model.ListFinancingScheme.Count; j++)
                                {
                                    Int32 Slno = j + 1;
                                    <tr>
                                        <td>
                                            @Slno
                                        </td>
                                        <td>
                                            @Model.ListFinancingScheme[j].financing_scheme_name
                                        </td>
                                        <td valign="middle" align="center">
                                            @if (Model.ListFinancingScheme[j].financing_scheme_details != null && Model.ListFinancingScheme[j].financing_scheme_details != "")
                                            {
                                                <a href="@Url.Action("Detail", "FinancingScheme", new { sfinancing_scheme_id =BEEKP.Class.Encryption.Encrypt(Model.ListFinancingScheme[j].financing_scheme_id.ToString(), true), viewtype = BEEKP.Class.Constants.BANK_LOAN})" title="" class="custom-edit-tooltip"><i class="fa fa-eye"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@
                    <ul class="list-group list-padding">
                        @for (Int32 j = 0; j < Model.ListFinancingScheme.Count; j++)
                        {
                            if (j % 2 == 0)
                            {
                                <li class="list-group-item odd-bg-color">
                                    @if (Model.ListFinancingScheme[j].financing_scheme_details != null && Model.ListFinancingScheme[j].financing_scheme_details != "")
                                    {

                                        <span class="badge badge-custom"><a href="@Url.Action("Detail", "FinancingScheme", new { sfinancing_scheme_id =BEEKP.Class.Encryption.Encrypt(Model.ListFinancingScheme[j].financing_scheme_id.ToString(), true), viewtype = BEEKP.Class.Constants.BANK_LOAN})">View Details</a> <i class="fas fa-chevron-circle-right"></i></span>
                                    }

                                    @Model.ListFinancingScheme[j].financing_scheme_name
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item">
                                    @if (Model.ListFinancingScheme[j].financing_scheme_details != null && Model.ListFinancingScheme[j].financing_scheme_details != "")
                                    {

                                        <span class="badge badge-custom"><a href="@Url.Action("Detail", "FinancingScheme", new { sfinancing_scheme_id =BEEKP.Class.Encryption.Encrypt(Model.ListFinancingScheme[j].financing_scheme_id.ToString(), true), viewtype = BEEKP.Class.Constants.BANK_LOAN})">View Details</a> <i class="fas fa-chevron-circle-right"></i></span>
                                    }

                                    @Model.ListFinancingScheme[j].financing_scheme_name
                                </li>
                            }

                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

</div>

