@model BEEKP.Models.FinancialSchemeBankLoanModel
@{
    ViewBag.Title = "Government Subsidy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*-------------Datatable CSS------------------*@
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" />

@*-------------Datatable JS------------------*@

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>



<div class="container pt-10">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">

                <div id="divmanufacturers" class="datatable-field-height">
                    <h4 class="text-theme-colored">Subsidy Schemes</h4>
                    <hr />
                    @*<table id="tblsubsidy" class="table table-striped table-hover table-bordered table-small-padding table-Valign-middle">

                            <thead>
                                <tr>
                                    <th>
                                        Sl. No.
                                    </th>
                                    <th>
                                        Scheme Name
                                    </th>
                                    <th>
                                        Detail
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (Int32 i = 0; i < Model.ListFinancingScheme.Count; i++)
                                {
                                    Int32 Slno = i + 1;
                                    <tr>
                                        <td>
                                            @Slno
                                        </td>
                                        <td>
                                            @Model.ListFinancingScheme[i].financing_scheme_name
                                        </td>
                                        <td valign="middle" align="center">
                                            @if (Model.ListFinancingScheme[i].financing_scheme_details != null && Model.ListFinancingScheme[i].financing_scheme_details != "")
                                            {
                                                <a href="@Url.Action("Detail", "FinancingScheme", new { sfinancing_scheme_id =BEEKP.Class.Encryption.Encrypt(Model.ListFinancingScheme[i].financing_scheme_id.ToString(), true), viewtype = BEEKP.Class.Constants.SUBSIDY})" title="" class="custom-edit-tooltip"><i class="fa fa-eye"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@
                    @*<ul class="list-group">
                            @for (Int32 j = 0; j < Model.ListFinancingScheme.Count; j++)
                            {

                                <li class="list-group-item">
                                    @if (Model.ListFinancingScheme[j].financing_scheme_details != null && Model.ListFinancingScheme[j].financing_scheme_details != "")
                                    {
                                        <span class="badge"><a href="@Url.Action("Detail", "FinancingScheme", new { sfinancing_scheme_id =BEEKP.Class.Encryption.Encrypt(Model.ListFinancingScheme[j].financing_scheme_id.ToString(), true), viewtype = BEEKP.Class.Constants.SUBSIDY})" title="" class="custom-edit-tooltip"><i class="fa fa-eye"></i></a></span>
                                    }

                                    @Model.ListFinancingScheme[j].financing_scheme_name
                                </li>
                            }
                        </ul>*@
                    @*@for (Int32 j = 0; j < Model.ListFinancingScheme.Count; j++)
                        {
                            <div class="list-group">
                                <a href="@Url.Action("Detail", "FinancingScheme", new { sfinancing_scheme_id =BEEKP.Class.Encryption.Encrypt(Model.ListFinancingScheme[j].financing_scheme_id.ToString(), true), viewtype = BEEKP.Class.Constants.SUBSIDY})" class="list-group-item list-group-item-success">@Model.ListFinancingScheme[j].financing_scheme_name</a>
                            </div>
                        }*@
                    <ul class="list-group list-padding">
                        @for (Int32 j = 0; j < Model.ListFinancingScheme.Count; j++)
                        {
                            if (j % 2 == 0)
                            {
                                <li class="list-group-item odd-bg-color">
                                    @if (Model.ListFinancingScheme[j].financing_scheme_details != null && Model.ListFinancingScheme[j].financing_scheme_details != "")
                                    {

                                        <span class="badge badge-custom"><a href="@Url.Action("Detail", "FinancingScheme", new { sfinancing_scheme_id =BEEKP.Class.Encryption.Encrypt(Model.ListFinancingScheme[j].financing_scheme_id.ToString(), true), viewtype = BEEKP.Class.Constants.SUBSIDY})">View Details</a> <i class="fas fa-chevron-circle-right"></i></span>
                                    }

                                    @Model.ListFinancingScheme[j].financing_scheme_name
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item">
                                    @if (Model.ListFinancingScheme[j].financing_scheme_details != null && Model.ListFinancingScheme[j].financing_scheme_details != "")
                                    {

                                        <span class="badge badge-custom"><a href="@Url.Action("Detail", "FinancingScheme", new { sfinancing_scheme_id =BEEKP.Class.Encryption.Encrypt(Model.ListFinancingScheme[j].financing_scheme_id.ToString(), true), viewtype = BEEKP.Class.Constants.SUBSIDY})">View Details</a> <i class="fas fa-chevron-circle-right"></i></span>
                                    }

                                    @Model.ListFinancingScheme[j].financing_scheme_name
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

</div>

<script>

    $(document).ready(function () {

        TableAdvanced_Subsidy();

    });



    function TableAdvanced_Subsidy() {

        if (!jQuery().dataTable) {
            return;
        }

        var table = $('#tblsubsidy');

        var oTable = table.dataTable({

            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "Show _MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            //"columnDefs": [{
            //    "orderable": false, // false = sorting not applicale
            //    "targets": [6] //for the columns
            //}],
            //"order": [
            //    [0, 'asc'] // default column sorting
            //],
            "lengthMenu": [
                [5, 10, 25, -1], // value - change per page values here
                [5, 10, 25, "All"] // display- change per page values here
            ],
            // set the initial value
            "pageLength": 5
        });


    }

</script>