@model BEEKP.Models.EnergyTechnologiesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*-------------Datatable CSS------------------*@
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" />

@*-------------Datatable JS------------------*@

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>

@using (Html.BeginForm("Index", "EnergyTechnologies", FormMethod.Post, new { @id = "frmEnergyTechnologies", @name = "frmEnergyTechnologies" }))
{
    @Html.AntiForgeryToken()

    <!-- BEGIN PAGE CONTENT -->
    <div class="container pt-10">
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-theme-colored">Energy Efficient Technologies</h4>
                <hr />
                <div class="row">
                    <div class="col-md-12 mb-15">
                        <div class="bg-gray pt-7 clearfix">
                            @*<div class="col-sm-3" id="vcluster">
                                    <div class="form-group">
                                        <label>Cluster</label>
                                        @Html.DropDownList("Cluster", new SelectList(Model.ListCluster, "cluster_id", "cluster_name", "--Select--"), new { @class = "form-control small-height-field", @id = "ddlcluster", @tabindex = "1", @onchange = "PopulateEnergyTechnologies()" })
                                    </div>
                                </div>*@
                            <div class="col-sm-3" id="vsector">
                                <div class="form-group">
                                    <label>EE Measures Category</label>
                                    @Html.DropDownList("CategoryMeasure", new SelectList(Model.ListCategoryMeasure, "category_measure_id", "category_measure_name", "--Select--"), new { @class = "form-control small-height-field", @id = "ddlcategory", @tabindex = "1", @onchange = "PopulateEnergyTechnologies()" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>&nbsp;</label><br />
                                    <button type="button" onclick=PopulateEnergyTechnologies() class="btn btn-primary">Search</button>
                                    <input type="button" class="btn btn-default" value="Reset" onclick="window.location.href='@Url.Action("Index","EnergyTechnologies")'" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="portlet light">
                    @*<div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">MSME List</span>
                            </div>
                        </div>*@
                    <div id="divEnergyTechnologies" class="datatable-field-height">
                        @Html.Partial("_EnergyTechnologiesPartial", Model)
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->

    </div>

}
<script>
    $(document).ready(function () {

        TableAdvanced_EnergyTechnologies()

    });


    AddAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = $('#frmEnergyTechnologies input[name=__RequestVerificationToken]').val();
        return data;
    };

    function PopulateEnergyTechnologies() {

        var category_measure_id = $("#ddlcategory").val();
        $("#divEnergyTechnologies").html("");


        $.ajax({

            url: '/EnergyTechnologies/PopulateEnergyTechnologies',
            data: AddAntiForgeryToken({ _category_measure_id: category_measure_id }),
            async: false,
            type: 'POST',
            success: function (result) {

                if (result.Data == 'error') {
                    window.location.href = "/Error/GeneralError";
                }
                else {
                    $("#divEnergyTechnologies").html(result).show();
                    TableAdvanced_EnergyTechnologies();
                    //Metronic.init();
                }
            },
            error: function (result) {
                isSuccess = result;
            }

        }).done(function () {
        });



    }

    function TableAdvanced_EnergyTechnologies() {

        if (!jQuery().dataTable) {
            return;
        }

        var table = $('#tblListEnergyTechnology');

        var oTable = table.dataTable({

            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "Show _MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            //"columnDefs": [{
            //    "orderable": false, // false = sorting not applicale
            //    "targets": [6] //for the columns
            //}],
            //"order": [
            //    [0, 'asc'] // default column sorting
            //],
            "lengthMenu": [
                [10, 25, 50, 100, -1], // value - change per page values here
                [10, 25, 50, 100, "All"] // display- change per page values here
            ],
            // set the initial value
            "pageLength": 10
        });


    }
</script>