@model BEEKP.Areas.Admin.Models.AdminUserViewModel

@if (Model.ListUserData != null)
{

    <table id="tblUser" class="table table-striped table-hover table-bordered action-column-custom">

        <thead>
            <tr>
                <th>
                    User Type
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    PinCode
                </th>
                <th>
                    Email Id
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Role
                </th>
                <th align="center" valign="middle">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

            @{


                for (Int32 i = 0; i < Model.ListUserData.Count; i++)
                {



                    <tr>
                        <td>
                            <label>@Model.ListUserData[i].User.user_type_name</label>
                        </td>
                        <td>
                            <label>@Model.ListUserData[i].User.first_name</label>
                        </td>
                        <td>
                            <label>@Model.ListUserData[i].User.last_name</label>
                        </td>
                        <td>
                            <label>@Model.ListUserData[i].User.address </label>
                        </td>
                        <td>
                            <label>@Model.ListUserData[i].User.pincode </label>
                        </td>
                        <td>
                            <label>@Model.ListUserData[i].User.emailid </label>
                        </td>
                        <td>
                            <label>@Model.ListUserData[i].User.mobile </label>
                        </td>
                        <td>
                            <label>@Model.ListUserData[i].User.role_name </label>
                        </td>
                        <td align="center" valign="middle">
                            <a href="@Url.Action("ManageUser", "AdminUser", new { suser_id = BEEKP.Class.Encryption.Encrypt(Model.ListUserData[i].User.user_id.ToString(), true)})" title="" class="custom-edit-tooltip"><i class="fa fa-pencil"></i></a>
                            |
                            <a href="@Url.Action("DeleteCity", "AdminCity", new { suser_id =BEEKP.Class.Encryption.Encrypt(Model.ListUserData[i].User.user_id.ToString(),true)})" title="" data-toggle="confirmation" data-original-title="Are you sure ?"><i class="fa fa-trash-o"></i></a>
                            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Open modal
                                </button>*@
                        </td>
                    </tr>
                }

            }


        </tbody>
    </table>
                }
