@model BEEKP.Areas.Admin.Models.UserManageModel
@{
    ViewBag.Title = "ManageCity";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ManageUser", "AdminUser", FormMethod.Post, new { @id = "frmManageUser", @name = "frmManageUser" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.User.user_id)




    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>@*@Model.PagePermission.file_name*@</h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Manage User</span> <small class="small-font-cuatom">Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="horizontal-form ">
                                <div class="form-body form-body-small-padding">
                                    @*<h3 class="form-section page-title mandatory-note">&nbsp <small>Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small></h3>*@

                                    <!--body start-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">First Name<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.User.first_name, new { @class = "form-control required", @id = "first_name", @Placeholder = "First Name" })
                                                    @Html.ValidationMessageFor(model => model.User.role_name, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Last Name<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.User.last_name, new { @class = "form-control required", @id = "last_name", @Placeholder = "Last Name" })
                                                    @Html.ValidationMessageFor(model => model.User.last_name, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Email Id<span class="required">* </span></label>
                                                @if (Model.User.user_id != 0)
                                                {
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.User.emailid, new { @class = "form-control required", @id = "emailid", @Placeholder = "Email Id", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.User.emailid, "", new { @class = "text-denger" })
                                                        @Html.HiddenFor(model => model.User.emailid)
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.User.emailid, new { @class = "form-control required", @id = "emailid", @Placeholder = "Email Id" })
                                                        @Html.ValidationMessageFor(model => model.User.emailid, "", new { @class = "text-denger" })
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Password<span class="required">* </span></label>
                                                @if (Model.User.user_id != 0)
                                                {
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.User.password, new { @class = "form-control required", @id = "Password", @Placeholder = "Password", @type = "password", @disabled = "disabled", autocomplete = "off" })
                                                        @Html.ValidationMessageFor(model => model.User.password, "", new { @class = "text-denger" })
                                                        @Html.HiddenFor(model => Model.User.password)
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.User.password, new { @class = "form-control required", @id = "Password", @Placeholder = "Password", @type = "password", autocomplete = "off" })
                                                        <span class="help-block">[Password should atleast contain 1 upper case, 1 lower case, 1 number, 1 special character and minimum 6 character] </span>
                                                        @Html.ValidationMessageFor(model => model.User.emailid, "", new { @class = "text-denger" })
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Mobile<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.User.mobile, new { @class = "form-control required", @id = "mobile", @Placeholder = "Mobile", })
                                                    @Html.ValidationMessageFor(model => model.User.mobile, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">State<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.User.state_id, new SelectList(Model.ListState, "state_id", "state_name", ""), new { @class = "form-control required", @id = "ddlstate", autocomplete = "off" })
                                                    @Html.ValidationMessageFor(model => model.User.state_name, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label col-md-4">City</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.User.city_name, new { @class = "form-control", @id = "City", @Placeholder = "City", })
                                                @Html.ValidationMessageFor(model => model.User.city_name, "", new { @class = "text-denger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Address</label>
                                                <div class="col-md-8">
                                                    <div>
                                                        @Html.TextAreaFor(model => model.User.address, new { @class = "form-control", @id = "address", @Placeholder = "Address", @row = "17" })
                                                        @Html.ValidationMessageFor(model => model.User.address, "", new { @class = "text-denger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Pin Code</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.User.pincode, new { @class = "form-control", @id = "pin", @Placeholder = "Pin code", })
                                                    @Html.ValidationMessageFor(model => model.User.pincode, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">User Type<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    <div>
                                                        @Html.DropDownListFor(model => model.User.user_type_id, new SelectList(Model.ListUserType, "user_type_id", "user_type_name", ""), new { @class = "form-control required", @id = "ddlusertype", autocomplete = "off" })
                                                        @Html.ValidationMessageFor(model => model.User.user_type_name, "", new { @class = "text-denger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>
                                <!--Footer-->
                                <div class="form-actions right">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" class="btn default" onclick="location.href='@Url.Action("Index", "AdminUser", new {})'">Back</button>
                                            <button type="submit" class="btn blue blue-custom" name="btnAction"><i class="fa fa-check"></i>Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- BEGIN VALIDATION STATES-->



}


@Scripts.Render("~/bundles/area/js/global")
@Scripts.Render("~/bundles/area/js/validate")
<script src="~/AppJS/User/User_Manage.js"></script>