
@{
    ViewBag.Title = "Digital Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*-------------Datatable JS------------------*@

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>



<div class="container pt-10 pb-20">
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-content clearfix">
                                <div class="title_breadcrumb float-left">
                                    <h1>Digital Library</h1>
                                </div>
                                <div class="breadcrumb-menu float-right">
                                    <ul class="clearfix">
                                        <li><a href="/">Home</a></li>
                                        <li class="active">Digital Librar3y</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr />

            <div class="row">
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(images/Library_Digital/video2.jpg);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="@Url.Action("Video", "Library", null, Request.Url.Scheme)" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Multimedia Tutorials</h5>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(../images/Library_Digital/case_studies.jpg);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="@Url.Action("Index", "CaseStudy", null, Request.Url.Scheme)" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Case Studies</h5>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(../images/Library_Digital/Newsletter.jpg);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="@Url.Action("NewsLetter", "Library", null, Request.Url.Scheme)" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Magazine and Newsletter</h5>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(../images/Library_Digital/Energy_Efficient.jpg);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="@Url.Action("Index", "EnergyTechnologies", null, Request.Url.Scheme)" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Energy Efficient Technologies</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(../images/Library_Digital/Reports.jpg);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="@Url.Action("ReportsAndPresentations", "Library", null, Request.Url.Scheme)" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Reports and Presentations</h5>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(../images/Library_Digital/Credit.png);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="@Url.Action("CreditRating", "Library", null, Request.Url.Scheme)" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Integrated Credit Rating Mechanism</h5>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(../images/Library_Digital/Training_Manual.png);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="@Url.Action("TrainingManual", "Library", null, Request.Url.Scheme)" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Training Manual</h5>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(../images/Library_Digital/Practice_Guide.png);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="@Url.Action("BestPracticeGuide", "Library", null, Request.Url.Scheme)" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Best Practice Guide</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(../images/Library_Digital/Tutorial2.jpg);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Tutorial</h5>
                    </div>
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                    <div class="mb-sm-30 project-components-item">
                        <div class="components-item-image-outer">
                            <span class="project-components-item-image project-components-item-image-150" style="background-image:url(../images/Library_Digital/Others.jpg);"></span>
                            <div class="components-item-image-overley"></div>
                            <div class="components-item-image-content project-components-item-table">
                                <span class="project-components-item-table-cell"><a href="@Url.Action("Other", "Library", null, Request.Url.Scheme)" title="Click Here"><strong>Click here !</strong></a></span>
                            </div>
                        </div>
                        <h5 class="letter-space-1 mb-20  text-center">Others</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

</div>





