@model BEEKP.Models.HomeViewModel
<div class="pt-4 pb-4" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title title_center text-center">
                    <h1>Photo Gallery</h1>
                </div>
                <p class="mb-4">Check our latest picture gallery</p>
            </div>
            <div class="col-lg-12 text-center">
                <ul class="pgwSlider">
                    @for (Int32 i = 0; i < Model.ListPhoto.Count; i++)
                    {
                        <li>
                            <a href="~/images/Gallery/Photo/@Model.ListPhoto[i].photo_name" alt="Image" class="lightbox-image">
                                <div class="text-holder">
                                    <div class="title text-center">@Model.ListPhoto[i].photo_title</div>
                                </div>
                                <img src="~/images/Gallery/Photo/@Model.ListPhoto[i].photo_name" alt="" data-description="@Model.ListPhoto[i].photo_title">
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-center mt-5">
                <div class="readmore"><a href="@Url.Action("Index", "HomeGallery", new { })">View All</a></div>
                @*<div class="gallery-hm-btn"><a href="@Url.Action("Index", "HomeGallery", new { })" class="btn btn-theme-colored">View All</a></div>*@
                @*<a href="@Url.Action("Index", "HomeGallery", new { })" class="section-bottom-btn ">View All</a>*@
            </div>
        </div>
    </div>
</div>




@*<script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/js/jquery.nice-select.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/pgwslider.js"></script>*@
@*<script>
      new WOW().init();
      $(document).ready(function() {
        $('.pgwSlider').pgwSlider({
            transitionEffect:"sliding",
            displayControls:true,
            touchControls:true,
            verticalCentering:true,
            adaptiveHeight:true,
            maxHeight:410,
            intervalDuration:4000
        });
    });
    </script>*@
@*<script src="../js/all.js"></script>
    <script src="../js/script.js"></script>*@
@*<script src="~/js/wow.js"></script>
    <script src="~/js/script.js"></script>*@
@*<script>
         $(".welcome-box").hover(function(){
             if($(this).hasClass("active")){
                 $(this).removeClass("active");
             }else{
               $(this).addClass("active");
             }
        });
        $('#useful-links').easyTicker({
            direction: 'up',
            easing: 'easeInOutSine',
            speed: 'slow',
            interval: 12000,
            height: 'auto',
            visible: 4,
            mousePause: 1,
            controls: {
                up: '.links-up',
                down: '.links-down'
            }
        }).data('easyTicker');

        $('.news-events').easyTicker({
            direction: 'up',
            easing: 'easeInOutSine',
            speed: 'slow',
            interval: 16000,
            height: 'auto',
            visible: 3,
            mousePause: 1,
            controls: {
                up: '.news-up',
                down: '.news-down'
            }
        }).data('easyTicker');
    </script>*@
