@model BEEKP.Models.HomeViewModel
<<<<<<< .mine

<!-- Social icon and media floater -->
<div class="social-outer">
    <ul class="styled-icons icon-dark">
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".1s" data-wow-offset="10"><a href="https://www.facebook.com/beeindiadigital/" data-bg-color="#3B5998"><i class="fa fa-facebook"></i></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s" data-wow-offset="10"><a href="https://twitter.com/beeindiadigital" data-bg-color="#02B0E8"><i class="fa fa-twitter"></i></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".4s" data-wow-offset="10"><a href="https://plus.google.com/u/0/109460193888443102625/posts" data-bg-color="#A11312"><i class="fa fa-google-plus"></i></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".5s" data-wow-offset="10"><a href="https://www.youtube.com/channel/UCgZ3hVD1_fIF2rwotvXDgqQ" data-bg-color="#C22E2A"><i class="fa fa-youtube"></i></a></li>
    </ul>
</div>

<div class="social-outer media-floater">
    <ul class="styled-icons icon-dark">
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".1s" data-wow-offset="10"><a href="@Url.Action("HelpDesk","Support", null, Request.Url.Scheme)"><img src="../images/webcast.jpg" alt="" /></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s" data-wow-offset="10"><a href="@Url.Action("HelpDesk","Support", null, Request.Url.Scheme)"><img src="../images/webinar.jpg" alt="" /></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s" data-wow-offset="10"><a href="@Url.Action("Detail","Event", new { @sid = BEEKP.Class.Encryption.Encrypt("34", true), @period=BEEKP.Class.Encryption.Encrypt(BEEKP.Class.Constants.EVENT_PERIOD_ALL, true) })"><img src="../images/Upcoming_Events.jpg" /></a></li>
    </ul>
</div>

<!-- Social icon and media floater -->

||||||| .r452

<!-- Social icon and media floater -->
<div class="social-outer">
    <ul class="styled-icons icon-dark">
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".1s" data-wow-offset="10"><a href="https://www.facebook.com/beeindiadigital/" data-bg-color="#3B5998"><i class="fa fa-facebook"></i></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s" data-wow-offset="10"><a href="https://twitter.com/beeindiadigital" data-bg-color="#02B0E8"><i class="fa fa-twitter"></i></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".4s" data-wow-offset="10"><a href="https://plus.google.com/u/0/109460193888443102625/posts" data-bg-color="#A11312"><i class="fa fa-google-plus"></i></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".5s" data-wow-offset="10"><a href="https://www.youtube.com/channel/UCgZ3hVD1_fIF2rwotvXDgqQ" data-bg-color="#C22E2A"><i class="fa fa-youtube"></i></a></li>
    </ul>
</div>

<div class="social-outer media-floater">
    <ul class="styled-icons icon-dark">
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".1s" data-wow-offset="10"><a href="@Url.Action("HelpDesk","Support", null, Request.Url.Scheme)"><img src="../images/webcast.jpg" alt="" /></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s" data-wow-offset="10"><a href="@Url.Action("HelpDesk","Support", null, Request.Url.Scheme)"><img src="../images/webinar.jpg" alt="" /></a></li>
        <li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s" data-wow-offset="10"><a href="@Url.Action("Detail","Event", new { @sid = BEEKP.Class.Encryption.Encrypt("34", true), @period=BEEKP.Class.Encryption.Encrypt(BEEKP.Class.Constants.EVENT_PERIOD_ALL, true) })"><img src="../images/Upcoming_Events.jpg" alt="" /></a></li>
    </ul>
</div>
<!-- Social icon and media floater -->

=======
>>>>>>> .r466
<section class="about-section-custom">
    <div class="container pt-60 pb-30">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-0 line-height-1 text-uppercase">About <span class="text-theme-color-2">The Project</span></h2>
                    <p style="text-align: justify;">The project <strong>"Financing of Energy Efficiency at MSMEs"</strong> is part of the Global Environmental Facility (GEF) Programmatic Framework for Energy Efficiency in India with an objective to increase demand for energy efficiency investments in targeted micro, small and medium enterprise clusters and to build their capacity to access commercial finance.</em></p>
                    <p style="text-align: justify;">The project aspires to address the lack of understanding in understanding between energy auditors and bank loan officers and demonstrate a viable mechanism of synergic tie up between SMEs, energy auditors, financial consultants/chartered accountants, local industrial or MSME associations and local bankers.</p>
                    <p style="text-align: justify;">The GEF implementation agency for this project is the World Bank, and the two executing agencies are Bureau of Energy Efficiency (BEE), Ministry of Power, Government of India and the Small Industries Development Bank of India (SIDBI).</p>
                    <p style="text-align: justify;">
                        The Knowledge Portal <a href="http://www.indiasavesenergy.in/" target="_blank">(www.indiasaveenergy.in)</a> was developed as part of the Knowledge Management & Sharing initiative. It hosts a wealth of information generated under the project and intend to share it with energy efficiency stakeholders working in this domain. The portal contains information on energy efficient technologies, best industrial practices and success stories that may find interest among these people and to get benefited. There are dedicated sections providing contacts of technology suppliers, energy efficiency financing schemes, list of energy professionals trained under the project that one may contact and get relevant solutions.
                        The platform also provides an opportunity to have a meaningful dialogue with the stakeholders on issues, challenges and policy matters that may help in planning future initiatives.<a href="@Url.Action("AboutProject","AboutUs", null, Request.Url.Scheme)">[Read More]</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="program-com-section-custom">
    <div class="container pt-0 pb-30">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-0 line-height-1 text-center text-uppercase mb-10 text-black-333">Project <span class="text-theme-color-2"> Activities</span></h2>
                    <p style="text-align: justify;">Implemented as part of the larger MSME energy efficiency programme of the BEE, the project will engage in focused efforts in 5 targeted clusters to increase demand for energy efficiency products and services and mobilize a large group of “decision-ready” units in partnership with the local industrial associations, energy professionals, local service providers and leading vendors of energy efficiency equipment. These energy efficiency demand creation activities will then be linked with the lending programmes of various financial institutions in the specific cluster.</p>
                    <p style="text-align: justify;">The project consists of the following components:</p>
                </div>
            </div>
        </div>
        <div class="row multi-row-clearfix">
            <div class="col-md-12">
                <div class="row">
                    @for (Int32 i = 0; i < Model.ListProjectComponent.Count && i < 8; i++)
                    {
                        <div class="col-md-3 wow fadeInUp" data-wow-duration="1.2s">
                            <div class="mb-sm-30 project-components-item">
                                @*<img class="img-fullwidth" src="~/images/ProjectComponent/@Model.ListProjectComponent[i].project_component_image_name" alt="Project Component Image">*@
                                <div class="components-item-image-outer">
                                    <span class="project-components-item-image" style="background-image:url(../images/ProjectComponent/@Model.ListProjectComponent[i].project_component_image_name);"></span>
                                    <div class="components-item-image-overley"></div>
                                    <div class="components-item-image-content">
                                        <p>@Html.Raw(Model.ListProjectComponent[i].project_component_full_description)</p>
                                    </div>
                                </div>
                                <h5 class="letter-space-1 mb-20">@Model.ListProjectComponent[i].project_component_title</h5>
                                @*<p>@Model.ListProjectComponent[i].project_component_short_description</p>*@
                                @*<a href="@Url.Action("Detail", "ProjectComponent", new { id = BEEKP.Class.Encryption.Encrypt(Model.ListProjectComponent[i].project_component_id.ToString(), true)})" class="btn btn-sm btn-theme-colored">Read more</a>*@
                            </div>
                        </div>
                    }
                    @*<div class="col-md-4 wow fadeInUp" data-wow-duration="1s">
                            <div class="mb-sm-30">
                                <img class="img-fullwidth" src="~/images/p1.jpg" alt="">
                                <h5 class="letter-space-1 mt-10">Building Capacity and Awareness</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, magnam dolore tempore.</p>
                                <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
                            </div>
                        </div>
                        <div class="col-md-4 wow fadeInUp" data-wow-duration="1.2s">
                            <div class="mb-sm-30">
                                <img class="img-fullwidth" src="~/images/p2.jpg" alt="">

                                <h5 class="letter-space-1 mt-10">Promotion of Investment in Energy Efficiency</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, magnam dolore tempore.</p>
                                <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
                            </div>
                        </div>
                        <div class="col-md-4 wow fadeInUp" data-wow-duration="1.2s">
                            <div class="mb-sm-30">
                                <img class="img-fullwidth" src="~/images/p5.jpg" alt="">

                                <h5 class="letter-space-1 mt-10">Knowledge Management and Sharing</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, magnam dolore tempore.</p>
                                <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-achievements-custom">
    <div class="container pb-0 pt-30 pb-sm-0">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="mt-10 line-height-1 text-uppercase">Project <span class="text-theme-color-2"> Achievements</span></h2>
                </div>
            </div>
        </div>
    </div>
    <section class="divider parallax layer-overlay mb-30" data-bg-img="../images/2.jpg" data-parallax-ratio="0.7">
        <div class="container pt-70 pb-60">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="fa fa-home mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="330" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h4 class="text-white">
                            330 Crores
                            Investment by Participating MSMEs
                        </h4>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="fa  fa-graduation-cap mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="3000" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h4 class="text-white ">
                            Energy Efficiency Measures Implemented by MSMEs
                        </h4>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="fa fa-book mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="5000" @*"@Model.no_of_msmes"*@ class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h4 class="text-white ">
                            MSMEs Reached Through Project

                        </h4>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="fa fa-users mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="16" @*"@Model.no_of_cluster"*@ class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h4 class="text-white ">
                            MSME Clusters Target Under Project

                        </h4>
                    </div>
                </div>



            </div>
        </div>
    </section>
</section>
