@model BEEKP.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .useful-links .link li {
        display: block !important;
        opacity: 1 !important;
    }

    .news-events li {
        opacity: 1 !important;
    }

    .newsletter-wrap .form_icon {
        top: 70% !important;
    }
</style>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "frmIndex", @name = "frmIndex" }))
{
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-slotamount="7" data-transition="3dcurtain-horizontal" data-masterspeed="1000" data-saveperformance="on">
                    <img alt="" src="~/images/dummy.png" data-lazyload="images/banner2.jpg">
                    <div class="caption lft large-title tp-resizeme slidertext_hover" data-x="left" data-y="50" data-speed="600" data-start="1600">Welcome to </div>
                    <div class="caption lft large-title tp-resizeme slidertext2" data-x="left" data-y="70" data-speed="600" data-start="2200"> Sidhiee </div>
                    <div class="caption lfb large-title tp-resizeme slidertext3" data-x="left" data-y="140" data-speed="600" data-start="2800">
                        Promoting Energy Efficiency & Renewable Energy in<br>Selected MSME Clusters in India
                    </div>
                    <div class="caption lfb large-title tp-resizeme slidertext4" data-x="left" data-y="200" data-speed="600" data-start="4100"><a href="@Url.Action("ContactUs", "Support")">Contact Us </a></div>
                </li>
                <li data-slotamount="7" data-transition="3dcurtain-horizontal" data-masterspeed="1000" data-saveperformance="on">
                    <img alt="" src="~/images/dummy.png" data-lazyload="images/banner.jpg">
                    <div class="caption lft large-title tp-resizeme slidertext_hover" data-x="left" data-y="50" data-speed="600" data-start="1600">5000 MSME Units </div>
                    <div class="caption lft large-title tp-resizeme slidertext2" data-x="left" data-y="70" data-speed="600" data-start="2200"> Reached through the Project</div>
                    <div class="caption lfb large-title tp-resizeme slidertext3" data-x="left" data-y="140" data-speed="600" data-start="2800">The "SIDHIEE" (Simplified Digital Hands-on Information on Energy Efficiency in MSMEs) is developed as part of the Knowledge <br>Management and Sharing initiative of the BEE's MSME Programme.</div>
                    <div class="caption lfb large-title tp-resizeme slidertext4" data-x="left" data-y="200" data-speed="600" data-start="4100"><a href="@Url.Action("ContactUs", "Support")">Contact Us </a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="statics-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 stat-hov stat-hov1">
                    <div class="counter">
                        <div class="counter-icon">
                            <img src="~/images/counts/1.png" />
                        </div>
                        <div class="count-num"><span class="counter-value" id="lblEnergy"></span> <span class="sm-texts">KW</span></div>
                        <h3>Energy saving Achieved</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  stat-hov stat-hov2">
                    <div class="counter">
                        <div class="counter-icon">
                            <img src="~/images/counts/2.png" />
                        </div>
                        <div class="count-num"><span class="counter-value" id="lblMSME"></span> <span class="sm-texts">K</span></div>
                        <h3>MSME units reached</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  stat-hov stat-hov3">
                    <div class="counter ">
                        <div class="counter-icon">
                            <img src="~/images/counts/3.png" />
                        </div>
                        <div class="count-num"><span class="counter-value" id="lblEnergyEfficciency">  </span> <span class="sm-texts">TOE</span></div>
                        <h3>Energy Efficciency Measure</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  stat-hov stat-hov4">
                    <div class="counter">
                        <div class="counter-icon">
                            <img src="~/images/counts/4.png" />
                        </div>
                        <div class="count-num"><span class="counter-value" id="lblInvestor">  </span> </div>
                        <h3>Investor Participating Msme units</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_projectPartial")
    <div class="sectors-section pt-3 pb-3" style="background:url(images/gallery/4.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="title title_center text-center mb-5">
                                <h1>Sectors</h1>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">

                            <div class="rs-carousel sectors-slider-home nav-style2 owl-carousel mt-0" data-rewind="true" data-loop="false" data-items="5" data-margin="15" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">


                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/brass.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/brass.jpg);">
                                            <div class="tile-bg" style="background:url(images/sectors/brass.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Brass</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Brass" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/dairy.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="        background: url(images/sectors/dairy.jpg);">
                                            <div class="tile-bg" style="        background: url(images/sectors/dairy.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title project-flag"><a href="#">Dairy</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Dairy" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="sector-box">


                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/ceramics.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="        background: url(images/sectors/ceramics.jpg);">
                                            <div class="tile-bg" style="        background: url(images/sectors/ceramics.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#"> Ceramics</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Ceramic" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/foundry.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="        background: url(images/sectors/foundry.jpg);">
                                            <div class="tile-bg" style="        background: url(images/sectors/foundry.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#"> Foundry</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Foundry" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">


                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/hand-tools.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/hand-tools.jpg);">
                                            <div class="tile-bg" style="background:url(images/sectors/hand-tools.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#"> Hand tools</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Hand_tool" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sector-box">



                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/textile.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/textile.jpg);">
                                            <div class="tile-bg" style="background:url(images/sectors/textile.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#"> Textile</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Textiles" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/food.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/food.jpg);">
                                            <div class="tile-bg" style="background:url(images/sectors/food.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#"> Food</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Foods" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/seafood.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/seafood.jpg);">
                                            <div class="tile-bg" style="background:url(images/sectors/seafood.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#"> Sea Food</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("SeaFood" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/bricks.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/bricks.jpg);">
                                            <div class="tile-bg" style="background:url(images/sectors/bricks.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#"> Bricks</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Bricks" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/forging.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/forging.jpg);">
                                            <div class="tile-bg" style="background:url(images/sectors/forging.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#"> Forging</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Forging" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/chemical.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/chemical.jpg);">
                                            <div class="tile-bg" style="background:url(images/sectors/chemical.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#"> Chemical</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Chemicals" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/limekiln.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/limekiln.jpg);">
                                            <div class="tile-bg" style="background:url(images/sectors/limekiln.jpg);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Limekiln</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Limekilns" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/automobile.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background: url(images/sectors/automobile.png);">
                                            <div class="tile-bg" style="background: url(images/sectors/automobile.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Automobile</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Automobile" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/carpet.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background: url(images/sectors/carpet.png); ">
                                            <div class="tile-bg" style="background: url(images/sectors/carpet.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Carpet</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Carpet" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/coir.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background: url(images/sectors/coir.png); ">
                                            <div class="tile-bg" style="background: url(images/sectors/coir.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Coir</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Coir" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/engg-fabrication.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background: url(images/sectors/engg-fabrication.png);">
                                            <div class="tile-bg" style="background: url(images/sectors/engg-fabrication.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Engg (Fabrication)</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Engg" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/footwear.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/footwear.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/footwear.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Footware</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Footware" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/glass.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/glass.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/glass.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Glass</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Glass" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/leather.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/leather.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/leather.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Leather</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Leather" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/oil-mill.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/oil-mill.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/oil-mill.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Oil Mills</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Oilmill" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/oraments.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/oraments.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/oraments.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Ornaments</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Ornaments" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/paper.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/paper.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/paper.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Paper</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Paper" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/pharma.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/pharma.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/pharma.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Pharma</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Pharma" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/refractory.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/refractory.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/refractory.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Refractory</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Refractory" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/rice-mill.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/rice-mill.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/rice-mill.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Rice Mills</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("RiceMills" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/rubber.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/rubber.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/rubber.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Rubber</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Rubber" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/steel-re-rolling.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/steel-re-rolling.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/steel-re-rolling.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Steel Re Rolling</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("SteelRolling" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sector-box">

                                    <div class="mb-30">
                                        <div class="icon-wrap"><img src="~/images/sectors/tea.png" /></div>
                                        <div class="tiles-wrap small-wrap" style="background:url(images/sectors/tea.png);">
                                            <div class="tile-bg" style="background:url(images/sectors/tea.png);">
                                                <div class="project-hover-div">
                                                    <div class="content-part small-tab">
                                                        <p class="desc project-flag">The aim of the project is to develop and promote a market environment for introducing energy efficiency and...</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-part small-tab">
                                                <h4 class="title"><a href="#">Tea</a></h4>
                                            </div>
                                            <div class="btn-part">
                                                <a href="@Url.Action("Tea" ,"Home")" class="read-more">Read More <span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*@Html.Partial("indexs")*@
    <div class="about-wrap cluster-section bg-white pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="title title_center text-center">
                                <h1>Sectors & Clusters</h1>
                            </div>
                        </div>
                        <div class="col-lg-12 col-12">
                            @{
                                Html.RenderAction("Indexs", "Home");
                            }

                            @*<iframe src="https://www.google.com/maps/d/embed?mid=1lAwnQ8DYHA5jcheuwn3YB-sJKOEQkkom" width="100%" height="600"></iframe>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="about-wrap cluster-section bg-white pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="title title_center text-center">
                                <h1>Sectors & Clusters</h1>
                            </div>
                        </div>
                        <div class="col-lg-12 col-12">
                            @{
                                Html.RenderAction("Indexs", "Home");
                            }-->
    @*<iframe src="https://www.google.com/maps/d/u/0/embed?mid=19G7l3lOEI-kJFIuXt2GxgDmfENodNTBt" width="100%" height="600"></iframe>*@
    <!--</div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--Testimonial Section-->
    <section class="testimonial-section">
        <div class="image-layer" style="background-image: url(images/background/bg-image-5.jpg);"></div>
        <div class="container">
            <div class="carousel-box">
                <div class="title title_center"><h1 class="text-white">Partners Perspective</h1></div>

                <div class="content-box">
                    <div class="history-carousel strnix-carousel owl-theme owl-carousel" data-options='{"rewind": true,"loop": false, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 500, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" }, "800":{ "items" : "2" }, "1024":{ "items" : "3" }}}'>

                        <div class="slide-item">
                            <div class="inner">
                                <div class="content">
                                    <div class="text">With the growth of economy, the demand for energy has grown substantially. Further, the high level of energy intensity in some of the sectors is a matter of concern. In such a scenario efficient use of energy resources and their conservation assume tremendous significance and is essential for curtailment of wasteful consumption and sustainable development.</div>
                                    <div class="info"><strong>Ankur Kumar</strong>, Director - CGWorld</div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="inner">
                                <div class="content">
                                    <div class="text">With the growth of economy, the demand for energy has grown substantially. Further, the high level of energy intensity in some of the sectors is a matter of concern. In such a scenario efficient use of energy resources and their conservation assume tremendous significance and is essential for curtailment of wasteful consumption and sustainable development.</div>
                                    <div class="info"><strong>Vijay Singh</strong>, Member - CGWorld</div>
                                </div>
                            </div>
                        </div>

                        <div class="slide-item">
                            <div class="inner">
                                <div class="content">
                                    <div class="text">With the growth of economy, the demand for energy has grown substantially. Further, the high level of energy intensity in some of the sectors is a matter of concern. In such a scenario efficient use of energy resources and their conservation assume tremendous significance and is essential for curtailment of wasteful consumption and sustainable development.</div>
                                    <div class="info"><strong>Nadeem Kumar</strong>, Member - CGWorld</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("_eventsPartial")

    <div class="news-updates-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="heading-main">
                        Updates/ Announcements
                        <span class="controls">
                            <a class="links-up" href="javascript:void(0);"><i class="fas fa-angle-up"></i></a>
                            <a class="links-down" href="javascript:void(0);"><i class="fas fa-angle-down"></i></a>
                        </span>
                    </h3>
                    <div class="useful-links">
                        <div class="f-item link" id="useful-links">
                            <ul class="v-scroll" id="updatesAnnouncements">
                                @*@Html.Partial("_newsMedia", "Home")*@
                                <li><a href="#">INR 330 Crores of Invested by Participating MSME Units </a></li>
                                <li><a href="#">Implemented more than 3000 Energy Efficiency Measures</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="text-right">
                        <a href="/Announcement" class="btn btn-xs readmore2">View All</a>
                    </div>
                    @*<div class="text-right ">
                            <a href="@Url.Action("NewsLetter", "Library", new { })" class="btn btn-xs readmore2">Read More</a>
                        </div>*@
                </div>
                <div class="col-md-6">
                    <h3 class="heading-main xs-margin">
                        News/ Media
                        <span class="controls">
                            <a class="news-up" href="javascript:void(0);"><i class="fas fa-angle-up"></i></a>
                            <a class="news-down" href="javascript:void(0);"><i class="fas fa-angle-down"></i></a>
                        </span>
                    </h3>
                    <div class="news-events">
                        <ul id="newsMedia">
                        </ul>

                    </div>
                    <div class="text-right">
                        <a href="/News" class="btn btn-xs readmore2">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@Html.Partial("_subscription")*@
    <div class="newsletter-wrap wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title">
                        <h3 class="text-white"><small class="news_sm">Stay in Loop</small><br> Join our Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="news-info">
                        <form id="frmSubscription" method="post">
                            <div class="input-group">
                                <input type="email" name="_email_val" class="form-control" placeholder="Your Email Address" data-height="37px" id="idEMAIL">
                                <div class="form_icon"><i class="fas fa-envelope"></i></div>
                                <div style="padding-top:30px">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-colored btn-theme-colored m-0 bt1" onclick="Subscriptionpost()"><i class="fas fa-paper-plane text-white"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<script src="~/js/all.js"></script>
<script src="~/js/script.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="~/js/jquery-plugin-collection.js"></script>
<script>
    function CallPrint(full_bd) {
        var prtContent = document.getElementById(full_bd);
        var WinPrint = window.open('', '', 'letf=100,top=100,width=600,height=600');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        //WinPrint.close()
    }
</script>
<script>


    $(document).ready(function () {
        getImpactIndicators();
        getUpdatesAnnouncements();
        getNewsMedia();
    });

    function getImpactIndicators() {
        $.ajax(
            {
                type: 'Get',
                url: '/Home/ImpactIndicators',
                success:
                    function (response) {
                        $("#lblEnergy").text(response.EnergySavingAchieved);
                        $("#lblMSME").text(response.MSMEUnitsReached);
                        $("#lblEnergyEfficciency").text(response.EnergyEfficciencyMeasure);
                        $("#lblInvestor").text(response.InvestorParticipatingMsmeUnits);
                    },
                error:
                    function (response) {
                        alert("Error: " + response);
                    }
            });
    }

    function getUpdatesAnnouncements() {
        $("#updatesAnnouncements").empty();
        $.ajax(
            {
                type: 'Get',
                url: '/Home/_updatesAnnouncements',
                success:
                    function (response) {
                        $("#updatesAnnouncements").append(response);
                    },
                error:
                    function (response) {
                        alert("Error: " + response);
                    }
            });
    }

    function getNewsMedia() {
        $("#newsMedia").empty();
        $.ajax(
            {
                type: 'Get',
                url: '/Home/_newsMedia',
                success:
                    function (response) {
                        $("#newsMedia").append(response);
                    },
                error:
                    function (response) {
                        alert("Error: " + response);
                    }
            });
    }

    function Subscriptionpost() {
        var email_val = $("#idEMAIL").val();
        $.ajax({

            url: 'Home/Subscription?email_val=' + email_val,
            type: 'Get',
            success: function (result) {
                console.log(result);
                if (result["MessageId"] > 0) {
                    $('#idEMAIL').val('');
                    alert(result["Message"]);
                }
                else {
                    alert(result["Message"]);
                }
            },
            error: function (result) {
                isSuccess = result;

            }

        }).done(function () {
        });
    }
</script>