@model BEEKP.Areas.Admin.Models.AdminLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link href="~/assets/admin/layout3/css/style-admin.css" rel="stylesheet" />

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "frmLogin", @name = "frmLogin" }))
{
    @Html.AntiForgeryToken()

    <!-- Section: home -->
    <section id="home" class="divider bg-lighter login-bg">
        <div class="display-table">
            <div class="display-table-cell">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-5 col-md-push-4 login-inn-bg">

                            <div class="login-inn form-horizontal">

                                <div class="login-heading"><h2>Knowledge Management Portal</h2></div>

                                @*<div class="text-center width-100 mb-10 margin-auto"><a href="../Home/Index"><img alt="" src="~/images/login-logo.png"></a></div>*@

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="text-center width-100 mb-10 margin-auto"><a href="/" target="_blank"><img alt="" src="~/images/login-logo-bee.png"></a></div>

                                        <div class="text-align-center">
                                            <p>
                                                <strong>
                                                    Bureau of Energy Efficiency<br />
                                                    Government of India, Ministry of Power
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-center width-100 mb-10 margin-auto"><a href="../Home/Index"><img alt="" src="~/images/login-logo.png"></a></div>

                                        <div class="text-align-center">
                                            <p>
                                                <strong>
                                                    The GEF - World Bank Project<br />
                                                    Financing Energy Efficiency at MSMEs
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="text-align-center">
                                        <p>
                                            <strong>
                                                The GEF - World Bank Project<br />
                                                Financing Energy Efficiency at MSMEs
                                            </strong>
                                        </p>
                                    </div>*@


                                <hr />

                                <h4 class="text-theme-colored mt-0 pt-5 text-align-center">Control Panel Login</h4>

                                <div class="form-group row">
                                    <label for="form_username_email" class="control-label col-md-3">Email</label>
                                    <div class="col-md-8">@Html.TextBoxFor(model => Model.email_id, new { @class = "form-control inputbox-height", @tabindex = "1", autocomplete = "off", @placeholder = "Username", @name = "UserName", })</div>
                                </div>
                                <div class="form-group row">
                                    <label for="form_password" class="control-label col-md-3">Password</label>
                                    <div class="col-md-8">@Html.TextBoxFor(model => Model.user_password, new { @class = "form-control inputbox-height", @tabindex = "2", @id = "txtPassword", autocomplete = "off", @placeholder = "Password", @name = "Password", @type = "password" })</div>
                                </div>

                                <div class="form-group row">
                                    <label for="form_password" class="control-label col-md-3">&nbsp;</label>
                                    <div class="g-recaptcha col-md-8" data-sitekey="@ViewBag.sitekey"></div>
                                </div>

                                <div class="mt-10 mb-10 clearfix">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="clear float-left pt-10">
                                                <a class="text-theme-colored font-weight-600 font-12" href="@Url.Action("ForgotPassword", "Account",new { })">Forgot Your Password?</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="float-right">
                                                <button type="submit" id="btnLogin" onclick="Encript()" class="btn btn-group-sm btn-theme-colored btn_login">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-denger">@Html.ValidationSummary(true)</div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
}


<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/js/SHA256.js"></script>
<script src="~/js/md5.js"></script>
<script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script src="~/AppJS/Login/Login_Manage.js"></script>
<script>
    function Encript() {

        if ($('#txtPassword').val() != "") {

            //alert(SHA256("Welcome1#"));

            $.ajax({
                url: '/Account/GetKey',
                //data: AddAntiForgeryToken(),
                async: false,
                type: 'GET',
                success: function (result) {
                    //alert(result);
                    var _password = $("#txtPassword").val() + result;
                    var _HashedPassword = SHA256(_password);
                    $("#txtPassword").val(_HashedPassword);
                    //alert(_HashedPassword);

                }
            });


        }
    }


    $('#btnLogin').keypress(function (e) {
        if (e.which == 13) {
            if ($('#frmLogin').validate().form()) {

                Encript();
                $('#frmLogin').submit(); //form validation success, call ajax form submit
            }
            return false;
        }
    });



</script>


