@model BEEKP.Areas.Admin.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link href="~/assets/admin/layout3/css/style-admin.css" rel="stylesheet" />
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "frmResetPassword", @name = "frmResetPassword" }))
{
    @Html.AntiForgeryToken()
    <section id="home" class="divider bg-lighter login-bg">
        <div class="display-table">
            <div class="display-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-push-4 login-inn-bg">

                            <div class="login-inn form-horizontal">

                                <div class="login-heading"><h2>Knowledge Management Portal</h2></div>

                                @*<div class="text-center width-100 mb-10 margin-auto"><a href="../Home/Index"><img alt="" src="~/images/login-logo.png"></a></div>

                                    <div class="text-align-center">
                                        <p>
                                            <strong>
                                                The GEF - World Bank Project<br />
                                                Financing Energy Efficiency at MSMEs
                                            </strong>
                                        </p>
                                    </div>*@

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="text-center width-100 mb-10 margin-auto"><a href="/" target="_blank"><img alt="" src="~/images/login-logo-bee.png"></a></div>

                                        <div class="text-align-center">
                                            <p>
                                                <strong>
                                                    Bureau of Energy Efficiency<br />
                                                    Government of India, Ministry of Power
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-center width-100 mb-10 margin-auto"><a href="../Home/Index"><img alt="" src="~/images/login-logo.png"></a></div>

                                        <div class="text-align-center">
                                            <p>
                                                <strong>
                                                    The GEF - World Bank Project<br />
                                                    Financing Energy Efficiency at MSMEs
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <hr />


                                <h4 class="text-theme-colored mt-0 pt-5 text-align-center">Reset Password</h4>



                                <div class="form-group">
                                    <label for="form_username_email" class="control-label col-md-3">Email</label>
                                    <div class="col-md-8">@Html.TextBoxFor(model => Model.email_id, new { @class = "form-control", autocomplete = "off", @placeholder = "Email", name = "email_id", @id = "txtemail_id" })</div>
                                </div>

                                <div class="form-group">
                                    <label for="form_password" class="control-label col-md-3">OTP</label>
                                    <div class="col-md-8">@Html.TextBoxFor(model => Model.OTP, new { @class = "form-control", autocomplete = "off", @placeholder = "OTP", name = "OTP", @id = "txtOTP" })</div>
                                </div>


                                <div class="form-group">
                                    <label for="form_password" class="control-label col-md-3">Password</label>
                                    <div class="col-md-8">@Html.TextBoxFor(model => Model.password, new { @class = "form-control", autocomplete = "off", @placeholder = "Password", name = "password", @type = "password", @id = "txtpassword" })</div>
                                </div>

                                <div class="form-group">
                                    <label for="form_password" class="control-label col-md-3">Confirm Password</label>
                                    <div class="col-md-8">@Html.TextBoxFor(model => Model.confirm_password, new { @class = "form-control", autocomplete = "off", @placeholder = "Confirm Password", name = "confirm_password", @type = "password", @id = "txtconfirm_password" })</div>
                                </div>

                                <div class="form-group">
                                    <label for="form_password" class="control-label col-md-3">&nbsp;</label>
                                    <div class="g-recaptcha col-md-8" data-sitekey="@ViewBag.sitekey"></div>
                                </div>
                                <div class="mt-10 mb-10 clearfix">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            @*<div class="clear pull-left pt-10">
                                                    <a class="text-theme-colored font-weight-600 font-12" href="@Url.Action("ForgotPassword", "Account",new { })">Forgot Your Password?</a>
                                                </div>*@
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-sm btn-theme-colored">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-denger">@Html.ValidationSummary(true)</div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script src="~/AppJS/ResetPassword/ResetPassword_Manage.js"></script>
