<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="LearnPress | Education & Courses HTML Template" />
    <meta name="keywords" content="academy, course, education, education html theme, elearning, learning," />
    <meta name="author" content="ThemeMascot" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/fontawesome.min.css" rel="stylesheet" />
</head>
<body class="" id="full_bd">
    <div class="topbar-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-5">
                </div>
                <div class="col-lg-6 col-md-8 col-7">
                    <div class="top_right">
                        <ul class="social_media style_none">
                            <li><a href="https://www.facebook.com/beeindiadigital/" class="fb" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/beeindiadigital" class="tw" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/109460193888443102625/posts" class="ln" target="_blank"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCgZ3hVD1_fIF2rwotvXDgqQ" class="yt" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-wrap wow fadeInUp">
        <div class="container">
            <div class="row pt-2 pb-1">
                <div class="col-lg-2 col-5">
                    <div class="header_logo"><a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)"><img alt="" src="~/images/logo_circle.png" class="main-logo"></a></div>
                </div>
                <div class="col-lg-6 col-3 hidden-xs">
                    <h5 class="text-center text-logo">Simplified Digital Hands-on Information on Energy Efficiency in MSMEs</h5>
                </div>
                <div class="col-lg-4 col-7">
                    <div class="header_logo text-md-right">
                        <a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)"><img alt="" src="~/images/logo-bee.png"></a><a href="#"><img alt="" src="~/images/govn-logo.png" class="gov-logo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid navbar-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-0 .d-lg-none .d-xl-block navbar navbar-expand-lg navbar-light mb-5">
                </div>
                <div class="col-lg-12 navbar navbar-expand-lg navbar-light d-flex">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#"></a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <button class="close-toggler" type="button" data-toggle="offcanvas"> <span><i class="fas fa-times-circle" aria-hidden="true"></i></span> </button>
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active"><a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)" class="nav-link">Home</a></li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">About<span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                                    <ul class="submenu">
                                        <li><a href="@Url.Action("AboutProject","AboutUs", null, Request.Url.Scheme)">SIDHIEE</a></li>
                                        <li><a href="@Url.Action("Ministry_of_Power","AboutUs", null, Request.Url.Scheme)">Ministry of Power</a></li>
                                           <li><a href="@Url.Action("Bee","AboutUs", null, Request.Url.Scheme)">BEE</a></li>
                                <li><a href="@Url.Action("GEF","AboutUs", null, Request.Url.Scheme)">GEF</a></li>
                                        <li><a href="@Url.Action("Dc_msme","AboutUs", null, Request.Url.Scheme)">DC MSME</a></li>
                                        <li><a href="@Url.Action("Key_People","AboutUs", null, Request.Url.Scheme)">Key People</a></li>
                                      <li><a href="@Url.Action("Partner_Agencies","AboutUs", null, Request.Url.Scheme)">Partner Agencies</a></li>
                                    </ul>
                                </li>
                                @*<li class="nav-item"><a href="@Url.Action("TrainingManual", "Library", null, Request.Url.Scheme)" class="nav-link"> Programmes</a></li>
                                    <li class="nav-item"><a href="@Url.Action("Index", "HomeGallery", null, Request.Url.Scheme)" class="nav-link">Project Gallery</a></li>*@
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Programmes <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                                    <ul class="submenu">
                                        <li><a href="@Url.Action("BEE_SME_Programme","ProjectComponent", null, Request.Url.Scheme)">BEE-SME Programme</a></li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                GEF Supported Programmes <span class="caret"><i class="fas fa-caret-right"></i></span>
                                            </a>
                                            <i class="fas fa-caret-right"></i>

                                            <ul class="submenu_right">
                                                <li><a href="@Url.Action("GEF_WorldBank","ProjectComponent", null, Request.Url.Scheme)">GEF-WorldBank</a></li>
                                                <li><a href="@Url.Action("GEF_UNIDO","ProjectComponent", null, Request.Url.Scheme)">GEF-UNIDO</a></li>
                                            </ul>
                                        </li>
    <li><a href="@Url.Action("Japan_India_Energy_Dialogue","ProjectComponent", null, Request.Url.Scheme)">Japan-India Energy Dialogue</a></li>
                                        <li><a href="@Url.Action("Brick_Mission","ProjectComponent", null, Request.Url.Scheme)">Brick Mission</a></li>
                                        
                                        
                                       @* <li><a href="@Url.Action("Indo_German_Energy_Programme","ProjectComponent", null, Request.Url.Scheme)">Indo-German Energy Programme (IGEN)</a></li>*@
                                        <li><a href="@Url.Action("BEE_2021","ProjectComponent", null, Request.Url.Scheme)">BEE 2021-26</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">Digital Library <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                                    <ul class="submenu">
                                         <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                SIDHIEE Digital Library<span class="caret"></i></span>
                                            </a>
                                            @*<ul class="submenu_right">
                                               <li><a href="@Url.Action("Index", "HomeGallery", null, Request.Url.Scheme)">Photos/Gallery</a></li>
                                                <li><a href="@Url.Action("Index", "VideoGallery")">Videos</a></li>
                                               <li><a href="@Url.Action("Index", "ClusterDetails", null, Request.Url.Scheme)">Cluster Profile</a></li>
                                                
                                            </ul>*@
                                        </li>
     



                                           <li><a href="@Url.Action("SAMEEEKSHA", "Library", null, Request.Url.Scheme)">SAMEEEKSHA</a></li>
                                            <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link">
                                                Stakeholders <span class="caret"><i class="fas fa-caret-right"></i></span>
                                            </a>
                                            <ul class="submenu_right">
                                                <li><a href="@Url.Action("Index", "MSME", null, Request.Url.Scheme)">Participating MSMEs</a></li>
                                                <li><a href="@Url.Action("Index", "Manufacturers", null, Request.Url.Scheme)">Manufacturer and supplier</a></li>
                                                <li><a href="@Url.Action("Index", "BankFinancial", null, Request.Url.Scheme)">Bank & Financial institutions</a></li>
                                                <li><a href="@Url.Action("Energy_Management_Centres", "EnergyProfessional", null, Request.Url.Scheme)">Energy Management Centres</a></li>
                                                <li><a href="@Url.Action("State_Designatted_Agencies", "EnergyProfessional", null, Request.Url.Scheme)">State Designatted Agencies (SDA)</a></li>
                                                <li><a href="@Url.Action("Industrial_Associations", "EnergyProfessional", null, Request.Url.Scheme)">Industrial Associations</a></li>
                                                <li><a href="@Url.Action("Index", "EnergyProfessional", null, Request.Url.Scheme)">Energy Expert</a></li>
                                            </ul>
                                        </li>
                                <li class="nav-item"><a href="@Url.Action("Index", "FAQ", null, Request.Url.Scheme)" class="nav-link">FAQs</a></li>

                                      <li><a href="@Url.Action("ReportsAndPresentations", "Library", null, Request.Url.Scheme)">Reports</a></li>
                                     @*   <li class="nav-item"><a href="@Url.Action("Digital", "Library", null, Request.Url.Scheme)" class="nav-link">Digital Library</a></li>

                                         
                                        <li><a href="@Url.Action("Index", "ClusterDetails", null, Request.Url.Scheme)">Cluster Profile</a></li>
                                        <li><a href="@Url.Action("Index", "FinancingScheme", null, Request.Url.Scheme)">Financing Scheme</a></li>
                                        <li><a href="@Url.Action("Index", "VideoGallery")">Videos</a></li>
                                        <li><a href="@Url.Action("Index", "HomeGallery", null, Request.Url.Scheme)">Photos/Gallery</a></li>*@
                                        
                                    </ul>
                                </li>
                                @*<li class="nav-item">
                                        <a href="#" class="nav-link">Project Details <span class="caret"><i class="fas fa-caret-down"></i></span></a> <i class="fas fa-caret-down"></i>
                                        <ul class="submenu">
                                            <li><a href="@Url.Action("Index", "ClusterDetails", null, Request.Url.Scheme)">Cluster Profile</a></li>
                                            <li><a href="@Url.Action("Index", "MSME", null, Request.Url.Scheme)">Participating MSMEs</a></li>
                                            <li><a href="@Url.Action("Index", "Manufacturers", null, Request.Url.Scheme)">Manufacturers and Suppliers</a></li>
                                            <li><a href="@Url.Action("Index", "EnergyProfessional", null, Request.Url.Scheme)">Energy Experts</a></li>
                                            <li><a href="@Url.Action("Index", "BankFinancial", null, Request.Url.Scheme)">Banks and Financial Institutions</a></li>
                                            <li class="nav-item">
                                                <a href="javascript:void(0)" class="nav-link">
                                                    Financing Schemes <span class="caret"><i class="fas fa-caret-right"></i></span>
                                                </a>
                                                <i class="fas fa-caret-right"></i>

                                                <ul class="submenu_right">
                                                    <li><a href="@Url.Action("BankLoan", "FinancingScheme", null, Request.Url.Scheme)">Loan Schemes</a></li>
                                                    <li><a href="@Url.Action("GovernmentSubsidy", "FinancingScheme", null, Request.Url.Scheme)">Subsidy Schemes</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>*@
                                <li class="nav-item"><a href="@Url.Action("Index", "News", null, Request.Url.Scheme)" class="nav-link"> News Media</a></li>
                                @*<li class="nav-item"><a href="@Url.Action("Digital", "Library", null, Request.Url.Scheme)" class="nav-link">Digital Library</a></li>*@
                                @*<li class="nav-item"><a href="@Url.Action("Index", "FAQ", null, Request.Url.Scheme)" class="nav-link">FAQs</a></li>*@
                                <li class="nav-item"><a href="@Url.Action("ContactUs", "Support", null, Request.Url.Scheme)" class="nav-link">Contact Us</a></li>
                                <li class="nav-item"><a href="@Url.Action("Index", "Announcement", null, Request.Url.Scheme)" class="nav-link">Announcement</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
    <footer class="footer bg-style wow fadeInUp">
        <div class="container">
            <div class="footer-upper">
                <div class="row">

                    <div class="col-lg-3 col-md-3">
                        <div class="footer-widget quick-links">
                            <h3 class="title">Quick links</h3>
                            <ul>
                                <li><a href="@Url.Action("Index", "ClusterDetails", null, Request.Url.Scheme)">Cluster Profile</a></li>
                                <li><a href="@Url.Action("Index", "MSME", null, Request.Url.Scheme)">Participating MSMEs</a></li>
                                <li><a href="@Url.Action("Index", "Manufacturers", null, Request.Url.Scheme)">Manufacturers and Suppliers</a></li>
                                <li><a href="@Url.Action("Index", "EnergyProfessional", null, Request.Url.Scheme)">Energy Experts</a></li>
                                <li><a href="@Url.Action("Index", "BankFinancial", null, Request.Url.Scheme)">Banks and Financial Institutions</a></li>
                                <li><a href="@Url.Action("BankLoan", "FinancingScheme", null, Request.Url.Scheme)">Loan Schemes</a></li>
                                <li><a href="@Url.Action("GovernmentSubsidy", "FinancingScheme", null, Request.Url.Scheme)">Subsidy Schemes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="footer-widget quick-links">
                            <h3 class="title">Quick Menu</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)">Home</a></li>
                                        <li><a href="@Url.Action("AboutProject","AboutUs", null, Request.Url.Scheme)">About SIDHIEE</a></li>
                                        <li><a href="@Url.Action("GEF","AboutUs", null, Request.Url.Scheme)">About the GEF</a></li>
                                        <li><a href="@Url.Action("WorldBank","AboutUs", null, Request.Url.Scheme)">Partner Agencies</a></li>
                                        <li><a href="@Url.Action("Digital", "Library", null, Request.Url.Scheme)">Digital Library</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="@Url.Action("Index", "FAQ", null, Request.Url.Scheme)">FAQs</a></li>
                                        <li><a href="@Url.Action("Term_Condition", "UsefulLink", null, Request.Url.Scheme)">Terms &amp; Conditions</a></li>
                                        <li><a href="@Url.Action("Policy", "UsefulLink", null, Request.Url.Scheme)">Privacy Policy</a></li>
                                        <li><a href="@Url.Action("ContactUs", "Support", null, Request.Url.Scheme)">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-widget contact">
                            <h3 class="title">Contact Info</h3>
                            <ul class="footer-adress">
                                <li class="footer_address"> <i class="fas fa-map-signs mr-2"></i> <span> <a>Government of India, Ministry of Power, 4th Floor, SEWA Bhawan, R. K.Puram, New Delhi - 110 066</a></span> </li>
                                <li class="footer_email"> <i class="fas fa-envelope" aria-hidden="true"></i> <span>save-energy@beenet.in</span> </li>
                                <li class="footer_phone"> <i class="fas fa-phone-alt"></i> <span><a href="tel:+91 11 26179699">+91 11 26179699</a></span> </li>
                            </ul>
                            <div class="social-icons footer_icon">
                                <ul>
                                    <li><a href="https://www.facebook.com/beeindiadigital/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/beeindiadigital"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://plus.google.com/u/0/109460193888443102625/posts"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCgZ3hVD1_fIF2rwotvXDgqQ"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright © 2021 Financing Energy Efficiency at MSMEs. All rights reserved</div>
    </footer>
    <a href="javascript:" id="back-to-top" style="display: inline;"><i class="fas fa-chevron-up"></i></a>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/script.js"></script>
   

</body>
</html>
<script>
    function CallPrint(full_bd) {
        var prtContent = document.getElementById(full_bd);
        var WinPrint = window.open('', '', 'letf=100,top=100,width=600,height=600');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        //WinPrint.close()
    }
</script>
<script>
    var $container = $('.gallery-isotope');
    // initialize isotope
    $container.isotope({
        // options...

        itemSelector: '.gallery-item'
    });

    // filter items when filter link is clicked
    $('.portfolio-filter a').on('click', function () {
        var selector = $(this).data('filter');
        $container.isotope({
            filter: selector
        });
    });

    /*$(".filter-button").click(function () {
        var value = $(this).attr('data-filter');

        if (value == "all") {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else {
            //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
            //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.' + value).hide('3000');
            $('.filter').filter('.' + value).show('3000');

        }
    });

    if ($(".filter-button").removeClass("active")) {
        $(this).removeClass("active");
    }
    $(this).addClass("active");*/


</script>