@model BEEKP.Models.MSMEViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Detail", "MSME", FormMethod.Post, new { @id = "frmMSMEDetail", @name = "frmMSMEDetail" }))
{
    @Html.AntiForgeryToken()

    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="container mt-0 mb-0 pt-10 pb-10">
                <h4 class="text-theme-colored">View Participating MSMEs Details</h4>
                <hr />
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="single-service">
                            <table class="table table-hover table-bordered">
                                <tr class="odd-bg-color">
                                    <td><strong>Cluster : </strong></td>
                                    <td>@Model.MSME.cluster_name</td>
                                </tr>
                                <tr>
                                    <td><strong>Sector : </strong></td>
                                    <td>@Model.MSME.sector_name</td>
                                </tr>
                                <tr class="odd-bg-color">
                                    <td><strong>Name Of Unit : </strong></td>
                                    <td>@Model.MSME.unit_name</td>
                                </tr>
                                <tr>
                                    <td><strong>Address : </strong></td>
                                    <td>@Model.MSME.unit_address</td>
                                </tr>
                                <tr class="odd-bg-color">
                                    <td><strong>Contact Person Name : </strong></td>
                                    <td>@Model.MSME.contact_name</td>
                                </tr>
                                <tr>
                                    <td><strong>Email Id : </strong></td>
                                    <td>@Model.MSME.email_id</td>
                                </tr>
                            </table>
                        </div>
                        <button type="button" class="btn default pull-right" onclick="location.href='@Url.Action("Index", "MSME", new {})'">Back</button>
                    </div>
                    
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->

        </div>
        <br />
    </div>
}





