@model BEEKP.Areas.Admin.Models.AdminFileViewModel

@if (Model.ListFile != null)
{
    <table id="tblFile" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    File Name
                </th>
                <th>
                    View
                </th>
                <th>
                    Controller
                </th>
                <th>
                    Area
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @for (Int32 i = 0; i < Model.ListFile.Count; i++)
                {
                <tr>
                    <td>
                        <label>@Model.ListFile[i].file_name</label>
                    </td>
                    <td>
                        <label>@Model.ListFile[i].view</label>
                    </td>
                    <td>
                        <label>@Model.ListFile[i].controller </label>
                    </td>
                    <td>
                        <label>@Model.ListFile[i].area</label>
                    </td>
                    <td>
                        <a href="@Url.Action("Manage", "File", new { sFileID = BEEKP.Class.Encryption.Encrypt(Model.ListFile[i].file_id.ToString(),true)})" title="" class="custom-edit-tooltip"><i class="fa fa-pencil"></i></a>
                        <a href="@Url.Action("DeleteFile", "File", new { sFileID = BEEKP.Class.Encryption.Encrypt(Model.ListFile[i].file_id.ToString(),true)})" title="" data-toggle="confirmation" data-original-title="Are you sure ?"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}





