@model BEEKP.Models.BankFinancialViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Detail", "BankFinancial", FormMethod.Post, new { @id = "frmBankFinancialDetail", @name = "frmBankFinancialDetail" }))
{
    @Html.AntiForgeryToken()

    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="container mt-0 mb-0 pt-10 pb-10">
                <h4 class="text-theme-colored"> View Banks and Financial Institution Details</h4>
                <hr />
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="single-service">
                            <table class="table table-hover table-bordered">
                                <tr class="odd-bg-color">
                                    <td><strong>Type of Institute : </strong></td>
                                    <td>@Model.BankFinancial.institution_type_name</td>
                                </tr>
                                <tr>
                                    <td><strong>Organisation Name : </strong></td>
                                    <td>@Model.BankFinancial.organization_name</td>
                                </tr>
                                <tr class="odd-bg-color">
                                    <td><strong>Address : </strong></td>
                                    <td>@Model.BankFinancial.address</td>
                                </tr>
                                <tr>
                                    <td><strong>Telephone : </strong></td>
                                    <td>@Model.BankFinancial.telephone</td>
                                </tr>
                                <tr class="odd-bg-color">
                                    <td><strong>Fax : </strong></td>
                                    <td>@Model.BankFinancial.fax</td>
                                </tr>
                                <tr>
                                    <td><strong>Email Id : </strong></td>
                                    <td><a href="mailto: @Model.BankFinancial.email_id"</td>
                                </tr>
                                <tr class="odd-bg-color">
                                    <td><strong>Cluster : </strong></td>
                                    <td>@Model.BankFinancial.cluster_name</td>
                                </tr>
                            </table>
                        </div>
                        <button type="button" class="btn default pull-right" onclick="location.href='@Url.Action("Index", "BankFinancial", new {})'">Back</button>
                    </div>

                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->

        </div>
        <br />
    </div>

}