@model BEEKP.Areas.Admin.Models.AdminManufacturersViewModel

@if (Model.ListManufacturers != null)
{
    <table id="tblManufacturers" class="table table-striped table-hover table-bordered">

        <thead>
            <tr>
                <th>
                    EE Equpment
                </th>
                <th>
                    Name Manufacturer
                </th>
                <th>
                    Contact Address
                </th>
                <th>
                    Contact Person
                </th>
                <th>
                    Contact No
                </th>
                <th>
                    Email
                </th>
                <th>
                    Website
                </th>
                <th>
                    Status
                </th>
                <th>
                    Approval Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

            @for (Int32 i = 0; i < Model.ListManufacturers.Count; i++)
            {
                var active = "Active";
                var Inactive = "Inactive";


                <tr>
                    <td>
                        <label>@Model.ListManufacturers[i].EE_equipment</label>
                    </td>
                    <td>
                        <label>@Model.ListManufacturers[i].name_manufacturer </label>
                    </td>
                    <td>
                        <label>@Model.ListManufacturers[i].contact_address </label>
                    </td>
                    <td>
                        <label>@Model.ListManufacturers[i].contact_person </label>
                    </td>
                    <td>
                        <label>@Model.ListManufacturers[i].contact_no </label>
                    </td>
                    <td>
                        <label>@Model.ListManufacturers[i].email </label>
                    </td>
                    <td>
                        <label>@Model.ListManufacturers[i].website </label>
                    </td>
                    @if (Model.ListManufacturers[i].status == true)
                    {
                        <td>
                            <label>@active</label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label>@Inactive</label>
                        </td>
                    }
                    @if (Model.ListManufacturers[i].approval_status == true)
                    {
                        <td>
                            <label>Approved</label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label>Inapproved</label>
                        </td>
                    }
                    <td>
                        <a href="@Url.Action("ManageManufacturers", "Manufacturers", new { smanufacturer_id = Model.ListManufacturers[i].manufacturer_id.ToString()})" title="" class="custom-edit-tooltip"><i class="fa fa-pencil"></i></a>
                        <a href="@Url.Action("DeleteManufacturers", "Manufacturers", new { smanufacturer_id = Model.ListManufacturers[i].manufacturer_id.ToString()})" title="" data-toggle="confirmation" data-original-title="Are you sure ?"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            }





        </tbody>
    </table>
}

