@model BEEKP.Areas.Admin.Models.ManufacturersManageModel
@{
    ViewBag.Title = "ManageFAQCategory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    div.radio input {
        opacity: 1 !important;
        margin-left: -14px !important;
    }
</style>
@using (Html.BeginForm("ManageManufacturers", "Manufacturers", FormMethod.Post, new { @id = "frmManageManufacturers", @name = "frmManageManufacturers" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Manufacturers.manufacturer_id)


    @Html.HiddenFor(model => Model.PagePermission.role_view)
    @Html.HiddenFor(model => Model.PagePermission.role_add)
    @Html.HiddenFor(model => Model.PagePermission.role_edit)
    @Html.HiddenFor(model => Model.PagePermission.role_delete)


    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>@Model.PagePermission.file_name</h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Manage Manufacturers</span> <small class="small-font-cuatom">Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="horizontal-form ">
                                <div class="form-body form-body-small-padding">
                                    @*<h3 class="form-section page-title mandatory-note">&nbsp <small>Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small></h3>*@

                                    <!--body start-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">EE Equipment<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => Model.Manufacturers.EE_equipment_id, new SelectList(Model.ListEE_equipment, "EE_equipment_id", "EE_equipment_name", ""), new { @class = "form-control required", @id = "ddlareaspeacialization", autocomplete = "off" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Manufacturer Name<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Manufacturers.name_manufacturer, new { @class = "form-control required", @id = "name_manufacturer", @Placeholder = "Manufacturer Name" })
                                                    @Html.ValidationMessageFor(model => model.Manufacturers.name_manufacturer, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Contanct Address<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Manufacturers.contact_address, new { @class = "form-control required", @id = "contact_address", @Placeholder = "Contanct Address" })
                                                    @Html.ValidationMessageFor(model => model.Manufacturers.contact_address, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Contanct Person<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Manufacturers.contact_person, new { @class = "form-control required", @id = "contact_person", @Placeholder = "Contanct Person" })
                                                    @Html.ValidationMessageFor(model => model.Manufacturers.contact_person, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Contanct No.<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Manufacturers.contact_no, new { @class = "form-control required", @id = "contact_no", @Placeholder = "Contanct No." })
                                                    @Html.ValidationMessageFor(model => model.Manufacturers.contact_no, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Email<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Manufacturers.email, new { @class = "form-control required", @id = "email", @Placeholder = "Email" })
                                                    @Html.ValidationMessageFor(model => model.Manufacturers.email, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Website</label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Manufacturers.website, new { @class = "form-control required", @id = "website", @Placeholder = "Website" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Active</label>
                                                <div class="col-md-8">
                                                    @Html.CheckBoxFor(model => model.Manufacturers.status, new { @class = "icheck", @id = "status", @Placeholder = "Status" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Approval Status<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    <div class="radio-list pl-0">
                                                        <label class="radio-inline">
                                                            Pending
                                                            @Html.RadioButtonFor(model => model.Manufacturers.approval_status, BEEKP.Class.Constants.APPROVAL_STATUS_PENDING)
                                                        </label>
                                                        <label class="radio-inline pl-0">
                                                            Approved
                                                            @Html.RadioButtonFor(model => model.Manufacturers.approval_status, BEEKP.Class.Constants.APPROVAL_STATUS_APPROVED)
                                                        </label>
                                                        <label class="radio-inline pl-0">
                                                            Rejected
                                                            @Html.RadioButtonFor(model => model.Manufacturers.approval_status, BEEKP.Class.Constants.APPROVAL_STATUS_REJECTED)
                                                        </label>
                                                    </div>


                                                    @Html.ValidationMessageFor(model => model.Manufacturers.approval_status, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                </div>
                                <!--Footer-->
                                <div class="form-actions right">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" class="btn default" onclick="location.href='@Url.Action("Index", "Manufacturers", new {})'">Back</button>
                                            <button type="submit" class="btn blue blue-custom" name="btnAction"><i class="fa fa-check"></i>Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- BEGIN VALIDATION STATES-->



}

@*<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>

    <script type="text/javascript" src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>


    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/AppJS/Manufacturers/ManufacturersAddEdit.js"></script>*@


@Scripts.Render("~/bundles/area/js/global")
@Scripts.Render("~/bundles/area/js/validate")
@Scripts.Render("~/bundles/area/appjs/manufacturers_manage")


