@model BEEKP.Areas.Admin.Models.AdminRoleManageViewModel

@if (Model.ListRoleFilePermission != null)
{

    <table id="tblRoleFile" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>

                <th>
                    File Name
                </th>
                <th class="custom-middle-allin">
                    <input type="checkbox" id="chkAllView">
                    View
                </th>
                <th class="custom-middle-allin">
                    <input type="checkbox" id="chkAllAdd">
                    Add
                </th>
                <th class="custom-middle-allin">
                    <input type="checkbox" id="chkAllEdit">
                    Edit
                </th>
                <th class="custom-middle-allin">
                    <input type="checkbox" id="chkAllDelete">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>

            @for (Int32 i = 0; i < Model.ListRoleFilePermission.Count; i++)
            {
                var idchkAllRow = "chkAllRow" + @i.ToString();
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.ListRoleFilePermission[i].role_file_id)
                        @Html.HiddenFor(model => model.ListRoleFilePermission[i].file_id)
                        <input type="checkbox" id=@idchkAllRow onclick="CheckAllRow(@i)">
                        <label class="control-label">@Model.ListRoleFilePermission[i].file_name</label>
                    </td>
                    <td class="custom-middle-allin">

                        @Html.CheckBoxFor(model => model.ListRoleFilePermission[i].role_view, new { @class = "icheck chkall-view", @id = "chkView" + i.ToString(), @Placeholder = "Active" })
                    </td>
                    <td class="custom-middle-allin">
                        @Html.CheckBoxFor(model => model.ListRoleFilePermission[i].role_add, new { @class = "icheck chkall-add", @id = "chkAdd" + i.ToString(), @Placeholder = "Active" })
                    </td>
                    <td class="custom-middle-allin">
                        @Html.CheckBoxFor(model => model.ListRoleFilePermission[i].role_edit, new { @class = "icheck chkall-edit", @id = "chkEdit" + i.ToString(), @Placeholder = "Active" })
                    </td>
                    <td class="custom-middle-allin">
                        @Html.CheckBoxFor(model => model.ListRoleFilePermission[i].role_delete, new { @class = "icheck chkall-delete", @id = "chkDelete" + i.ToString(), @Placeholder = "Active" })
                    </td>
                </tr>
            }

        </tbody>
    </table>



}

