@model BEEKP.Areas.Admin.Models.AdminRoleManageViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Manage", "Role", FormMethod.Post, new { @id = "frmManage", @name = "frmManage", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Role.role_id)

    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Manage Role <small>statistics & reports</small></h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Manage Role</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="horizontal-form ">
                                <div class="form-body form-body-small-padding">
                                    <h3 class="form-section page-title mandatory-note">&nbsp <small>Fields marked with asterisk (<span class="required-asterisk"> * </span>) are mandatory to fill in </small></h3>
                                    <!--body start-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Role Name<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Role.role_name, new { @class = "form-control required", @id = "txtrole_name", @Placeholder = "View" })
                                                    @Html.ValidationMessageFor(model => model.Role.role_name, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Role Description<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Role.role_description, new { @class = "form-control required", @id = "txtrole_description", @Placeholder = "Controller" })
                                                    @Html.ValidationMessageFor(model => model.Role.role_description, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Landing Page<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => Model.Role.file_id, new SelectList(Model.ListFile, "file_id", "file_name", ""), new { @class = "form-control input-icon", @id = "ddlFileName", autocomplete = "off" })
                                                    @Html.ValidationMessageFor(model => model.Role.file_id, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group clearfix">
                                                <label class="control-label col-md-4">Role User Type<span class="required">* </span></label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => Model.Role.user_type_id, new SelectList(Model.ListUserType, "user_type_id", "user_type_name", ""), new { @class = "form-control input-icon", @id = "ddlFileName", autocomplete = "off" })
                                                    @Html.ValidationMessageFor(model => model.Role.user_type_id, "", new { @class = "text-denger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="divRoleFile">
                                            <div class="table-scrollable">
                                                @Html.Partial("_RoleFilePermissonPartial", Model)
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--Footer-->
                                <div class="form-actions right">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" class="btn default" onclick="location.href='@Url.Action("Index", "Role", new {})'">Back</button>
                                            <button type="submit" class="btn blue blue-custom" name="btnAction"><i class="fa fa-check"></i>Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@Scripts.Render("~/bundles/area/js/global")
@Scripts.Render("~/bundles/area/js/validate")
@Scripts.Render("~/bundles/area/appjs/Role_manage")

<script language="JavaScript">
    $(document).ready(function () {

        $("#chkAllView").click(function () {
            $(".chkall-view").attr('checked', this.checked);
        });
        $("#chkAllAdd").click(function () {
            $(".chkall-add").attr('checked', this.checked);
        });
        $("#chkAllEdit").click(function () {
            $(".chkall-edit").attr('checked', this.checked);
        });
        $("#chkAllDelete").click(function () {
            $(".chkall-delete").attr('checked', this.checked);
        });
    });


    function CheckAllRow(index) {

        var vChacked = $("#chkAllRow" + index).is(':checked');
       
        $("#chkView" + index).attr('checked', vChacked);
        $("#chkAdd" + index).attr('checked', vChacked);
        $("#chkEdit" + index).attr('checked', vChacked);
        $("#chkDelete" + index).attr('checked', vChacked);
      
        
      

    }
    // End -->
</script>