@model BEEKP.Areas.Admin.Models.AdminSectorViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Index", "AdminSector", FormMethod.Post, new { @id = "frmAdminSector", @name = "frmAdminSector" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => Model.PagePermission.role_view)
    @Html.HiddenFor(model => Model.PagePermission.role_add)
    @Html.HiddenFor(model => Model.PagePermission.role_edit)
    @Html.HiddenFor(model => Model.PagePermission.role_delete)



    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>@Model.PagePermission.file_name</h1>
            </div>
            <!-- END PAGE TITLE -->

        </div>
    </div>
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">Sector List</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            @Html.Partial("_SectorPartial", Model)
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    @if (Model.PagePermission.role_add == BEEKP.Class.Constants.PAGE_PERMISSION_YES)
                                    {
                                        <button type="button" class="btn green" onclick="location.href='@Url.Action("ManageSector", "AdminSector", new { ssector_id = BEEKP.Class.Encryption.Encrypt("0", true) })'">Add</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->

        </div>
    </div>

}
@Scripts.Render("~/bundles/area/js/global")
@Scripts.Render("~/bundles/area/js/datatables")
@Scripts.Render("~/bundles/area/appjs/sector_index")